/*Alertas de la aplicacion*/

.alert {
    padding: 20px;
    border: none;
    color: $white;
    width: 400px;
    
    &.alert-icon {
        padding-left: 60px;
        
        [data-notify="icon"]{
            position: absolute;
            left : 20px;
            top: 50%;
            
            margin-top: -10px;
            font-size: 20px;
        }
        
    }
    
    .close {
        font-size: 15px;
        &,&:hover,&:focus {
            color: rgba($white,.4) !important;
        }
    }
    
    &.alert-success {
        background:  linear-gradient(90deg, #288c6c, #4ea752);
    }
    
    &.alert-warning {
        background: linear-gradient(90deg, #f5700c, #ff9800);
    }
    
    &.alert-info {
        background: linear-gradient(90deg, #029eb1, #25b1c3);
    }
    
    &.alert-danger {
        background: linear-gradient(90deg, #d22824, #da3a36);
    }
    
}