/*-------------AREAS HIDDEN CON ANIMACIONES---------------*/

.area-right-100 {
    @include positionHidden(40px,100%);
}
.area-right-50 {
    @include positionHidden(40px,50%);
}

[data-hidden-transition] {
    display: none;
}

/*-------------DIRECCION DE MOSTRADO---------------*/

.show-left {
    left: 0;
}

/*-------------BOTON DE CERRAR---------------*/
.close-area {
    padding: 5px 30px;
    border-right: 1px solid;
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
    
    .navbar-collapse .navbar-nav span {
        font-size: 15px;
        margin-right: 5px;
    }
}
    

