.badge-success-lighten {
    color: #0acf97;
    background-color: rgba(10,207,151,.18);
}

.badge-warning-lighten {
    color: #ffbc00;
    background-color: rgba(255,188,0,.18);
}

.badge-danger-lighten {
    color: #fa5c7c;
    background-color: rgba(250,92,124,.18)
}

.badge-info-lighten {
    color: #39afd1;
    background-color: rgba(57,175,209,.25);
}

.badge-strong {
    font-size: 14px;
}