.border-success {
    border: 1px solid rgba($success,.5) !important;
}
.border-primary {
    border: 1px solid rgba($primary,.5) !important;
}
.border-warning {
    border: 1px solid rgba($warning,.5) !important;
}
.border-danger {
    border: 1px solid rgba($danger,.5) !important;
}
.border-info {
    border: 1px solid rgba($info,.5) !important;
}
.border-indigo {
    border: 1px solid rgba($indigo,.5) !important;
}
.border-tooltip{
    border: 1px solid $tooltip !important;
}
