/*-------------BOTONES DE LA APP---------------*/
.btn.btn-option-xs {
    line-height: 1.1;
    font-size: 80%;
    border-radius: 50px;
    border: 0;
    padding: .25rem .75rem;
    margin-bottom: 5px;
    cursor: pointer;
    
    span {
        font-size: 10px;
        margin-right: 3px;
    }
    
}

.btn-orange {
    color: $white;
    background-color: $orange;
}

.btn-indigo {
    color: $white;
    background-color: $indigo;
}

.btn-purple {
    color: $white;
    background-color: $purple;
}

.btn-cyan {
    color: $white;
    background-color: $cyan;
}

.btn-teal {
    color: $white;
    background-color: $teal;
}

.btn-pink {
    color: $white;
    background-color: $pink;
}

button.btn-icon {
    span {
        font-size: 12px;
        margin-right: 5px;
    }
}
