/*-------------CARDS PROPIOS DE LA APLICACION---------------*/
.card-tpl {
    border: 0px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 40px;
    
    &.animate {
        cursor: pointer;
    }
    
    .card-img-content {
        width: 100%;
        height: 160px;
        margin-bottom: 10px;
        position: relative;
        
        img.card-img {
            width: 100%;
            height: 160px;
            transition: all .4s ease;
            position: absolute;
            z-index: 1;

            &.animate-top {
                margin-top: -30px;
            }
        }
        
        .card-options{
            position: absolute;
            display: flex;
            width: 100%;
            bottom: 0;
            
            .option {
                flex: 1;
            }
        }   
    }
    
    .card-body {
        padding: 0px 5px;
        margin-bottom: 10px;
        
        .card-category {
            display: block;
            margin-bottom: 10px;
        }
        
        .card-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        .card-description {
            font-size: 15px;
            overflow: hidden;
        }
    }
    
    .card-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        
        label {
            margin: 0;
        }
    }
}

/*-------------PRESENTACION DE CONTENIDO CON ICONO---------------*/

.card-presentation-info {
    padding: 10px;
    position: relative;
    
    .icon-card {
        font-size: 80px;
    }
    
    h6, h1 {
        text-shadow: 0px 1px 0px #000;
    }
}

/*-------------MINI CARDS---------------*/
.card-mini, .card-icon {
    border-radius: 5px;
    padding: 15px !important;
    position: relative;
}

.card-icon {
    
    .icon {
        position: absolute;
        padding: 10px;
        
        &.icon-right {
            right: 10px;
            top: -15px;
            
            span {
                font-size: 20px;
            }
        }
    }
    
}

