/*-------------GRAFICO CIRCULAR DE PROGRESO---------------*/

.circular-grafic {
    margin: auto;
    position: relative;
    
    &,&:before, &:after {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    &:before,&:after {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        text-align: center;
        line-height: 3.8;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.percent-success {
    @include circular-progress(80, #28a745, #e9e9e9, white, 10%); 
}

.percent-dark-success {
    @include circular-progress(30, $success, #e9e9e9, $darkBlue, 10%); 
}

.percent-dark-primary {
    @include circular-progress(80, $primary, #e9e9e9, $darkBlue, 10%); 
}

