.dropdown-menu-tpl {
    &:before {
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        vertical-align: middle;
        content: "";
        top: -5px;
        left: 10px;
        right: auto;
        color: #fff;
        border-bottom: .4em solid;
        border-right: .4em solid transparent;
        border-left: .4em solid transparent;
    }
    &.dropdown-menu-right {
        &:before{
            left: auto;
            right: 10px;
        }
    }
}


.dropdown-tpl {
    border: none;
    opacity: 0;
    box-shadow: 0 9px 50px 0 rgba(0,0,0,.2);
    transform: translate3d(0, -20px, 0)!important;
    display: block;
    visibility: hidden;
    transition: all .15s linear;
    
    .dropdown-item{
        padding: .6rem 1.5rem;
        color: #888;
        
        span {
            font-size: 10px;
            margin-right: 5px;
        }
        &:hover {
            background-color: hsla(0,0%,87%,.3);
        }
    }
    
    &.show {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0,1px,0)!important;
        transition: all .15s linear;
    }
}
