.gallery {
    
    ul {
        list-style: none;
        padding: 0px;
        
        li {
            list-style-type: none;
            display: inline-block;
            overflow: hidden;
            
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                -webkit-transition: all .9s ease;
                -moz-transition: all .9s ease;
                -ms-transition: all .9s ease;
                -o-transition: all .9s ease;
                transition: all .9s ease;
            }
            img:hover {
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -ms-transform: scale(1.25);
                -o-transform: scale(1.25);
                transform: scale(1.25);
            }
        }
    }
    
    &.gallery-4-22 {
        ul {
            li {
                width: calc(97% / 4);
                height: 22vh;
            }
        }
    }
    
    &.gallery-3-15 {
        ul {
            li {
                width: calc(97% / 3);
                height: 15vh;
            }
        }
    }
    
    
    
}

// VISTA DE LAS IMAGENES EN PANTALLAS MENORES DE 500PX
@media only screen and (max-width: 500px) {
    .gallery {
        ul {
            li {
                width: calc(97% / 2) !important;
            }
        }
    }
}

// DIV PARA MOSTRAR IMAGENES
.gallery-show {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    background: rgba(0,0,0,.7);
    padding: 40px 20px;
    overflow-y: auto;
    display: flex;
    
    .close-gallery {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        font-size: 20px;
        color: white;
        z-index: 10001;
        cursor: pointer;
    }
    
    .img {
        &,img {
            margin: auto;
            display: block;
        }
        
        img {
            max-width: 90%;
        }
    }
    
    .img-change {
        position: fixed;
        width: 50px;
        height: 80%;
        top: 10%;
        display: flex;
        align-content: center;
        align-items: center;
        
        .icon {
            font-size: 20px;
            color: white;
            margin: auto;
            padding: 10px;
            background: rgba(0,0,0,0.5);
        }
        
    }
    
    .next {
        right: 10px;
    }
    
    .prev {
        left: 10px;
    }
    
    
}
