/*-------------GENERALES---------------*/
.titulo {
    opacity: .8;
    font-weight: bold;
}

.br-0 {
    border-radius: 0px !important;
}

.before-white {
    &::before{
        color: $white !important;
    }
}