html,body,.contenedor{
    height: 100%;
    line-height: normal;
}

.contenedor{
    padding: 0.1px;
}

/*--------------HEADER-----------------*/

.header-tpl{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    z-index: 1000;
    padding-left: 0px;
    
    div{
        flex: 1;
    }
    
    .imgLogo{
        height: 30px;
        width: 30px;
    }
    
    .title h4{
        font-weight: bold;
        text-align: center;
        margin: 0px;
        line-height: 1.4;
    }
    
    .imgUser{
        float: right;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid black;
    }
}

