/*-------------ALTOS Y ANCHOS PERSONALIZADOS---------------*/
.h-600 {
    height: 43vw;
}

.h-87 {
    height: 87px;
}

.h-65 {
    height: 65px;
}

.h-90 {
    height: 90px;
}

.t-40 {
    height: 20px;
    width: 20px;
}
.mt-52 {
    margin-top: 52px!important;
}
.h-100p {
    height: 100px;
}

.h-100-vh {
    height: 100vh;
}