/*-------------IMAGENES---------------*/
.img-center {
    display: block;
    margin: auto;
}

.fit-cover {
    object-fit: cover;
}

.fit-containe {
    object-fit: fill;
}

.img-70 {
    height: 70px;
    width: 70px;
}

.image-user {
    height: 150px;
    width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.load-image-js{
    overflow: auto;    
    .load-images {
        border-radius: 10px;
        border: 2px dashed $white50;
        padding: 40px;
        cursor: pointer;
        margin-bottom: 20px;
        text-align: center;
        color: $white50;

        img{ 
            width: 50%;
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
    }
}