/*-------------FORMS PROPIOS DE LA APP---------------*/
.form-group-tpl {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
    // QUITAR MARGEN DE LOS LABEL
    label{
        margin-bottom: 0px;
    }
    
    // POSICINARLO ENCIMA
    label.label {
        position: absolute;
        font-size: 16px;
        line-height: 16px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        pointer-events: none;
        
        // PONERLO ARRIBA EN CASO DE ESTAR ACTIVO
        &.active, &.placeholder {
            top: -12px !important;
            font-size: 12px;
            line-height: 12px;
        }
        
        &.label-lg {
            top: 12px;
            left: 12px;
        }
        
        &.label-sm {
            top: 6px;
            left: 8px;
        }
        
        span.icon-right {
            margin-right: 10px;
        }
        
        span.icon-left {
            margin-left: 10px;
        }
        
    }
    
    
    // RESETEAR LOS INPUT EN FOCUS 
    input, textarea {
        &,&:focus{
            background: none;
            box-shadow: none;
            outline: none;
            font-size: 16px;
            border-radius: 0px;
        }
    }
    
    // AJUSTE DEL ALTO DE LOS INPUT
    input {
//        height: 36px;
    }
    
    // AJUSTE DE LOS INPUTS DATE
    input[type=date],input[type=time] {
        padding: 3px 16px;
    }
    
    // CHECKBOX PROPIOS DE LA APP
    &.checkbox,
    &.radio {
        
        // LABELS SOLO DE LOS CHECKBOX Y RADIOS
        label {
            display: inline-block;
            position: relative;
            cursor: pointer;
            padding: 5px 15px 5px 51px;
            font-size: 1em;
            border-radius: 3px;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            
            // CIRCULO DE LOS RADIOS
            &::before{
                content: "";
                display: inline-block;
                width: 17px;
                height: 17px;
                position: absolute;
                left: 15px;
                border-radius: 50%;
                background: none;
            }
        }
        
        input[type="radio"],
        input[type="checkbox"] {
            // ESCONDER INPUT
            display: none;
            
            // QUITAR EL CUADRO O RADIO CUANDO NO ESTEN CHECK
            &:checked + label::before {
                display: none;
            }
            
            // QUITAR ANCHOR CUANDO ESTE CHECK
            &:checked + label {
                padding: 5px 15px;
            }
        }
    }
    
    // CUANDO SEA CHECKBOX SEA UN CUADRO
    &.checkbox{
        label::before {
            border-radius: 3px !important;
        }
    }
    
    // select 
    input.select-tpl {
        width: 0px;
        height: 0px;
        visibility: hidden !important;
        display: none;
    }
    
    .select {
        font-size: 16px;
        line-height: 1.3;
        position: relative;
        cursor: pointer;
        
        span {
            font-size: 10px;
            position: absolute;
            right: 16px;
        }
        
        &.select-sm {
            height: 28px;
            padding: 4px 8px;
            
            span {
                top: calc(29px / 2.7);
            }
            
            .options {
                top: 29px;
                ol {
                    li {
                        padding: 4px 8px;
                    }
                }
            }
            
        }
        
        &.select-lg {
            height: 37px;
            padding: 6px 12px;
            
            span {
                top: calc(29px / 2.1);
            }
            
            .options {
                top: 37px;
                ol {
                    li {
                        padding: 6px 12px;
                    }
                }
            }
        }
        
        .options {
            position: absolute;
            overflow-x: hidden;
            display: none;
            max-height: 0px;
            width: 100%;
            left: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 10;
            
            ol {
                list-style: none;
                display: block;
                width: calc(100%);
                margin: 0;
                padding: 0px;
                font-size: 16px;
                line-height: 20px;
                
                li {
                    &:last-child{
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }
            }
            
            &.active {
                max-height: 150px !important;
                display: block !important;
            }
        }
    }
    
    &.placeholder {
        
    }
    // textarea
    
    
    // files opcional
    
}