/*-------------JUMBOTRONS PERSONALIZADOS---------------*/
.jumb-tuplan{
    border-radius: 0px;
}

.jumb-office{
    background: url(../../Imagenes/Estadistics.jpg)no-repeat center;
    background-size: cover;
    .jumb-cont{
        background: rgba(0,0,0,0.7);
        border-radius: 5px;
        padding: 20px;
        max-width: 400px;
    }
}