.list-group-icon{
    li {
        padding-left: 60px;
        
        span {
            font-size: 20px;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            left: 20px;
        }
    }
}