/*-------------loader circular-reutilisable scss---------------*/
.loader-circular {
    position: absolute;
    left: calc(50% - 30px);
    margin: 0 auto;
    -webkit-animation: animacion .6s linear 0s infinite;
    -moz-animation: animacion .6s linear 0s infinite;
    -o-animation: animacion .6s linear 0s infinite;
    animation: animacion .6s linear 0s infinite;
    
    &,&:after {
        border-radius: 50%;
    }
    
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
    }
    &:before {
        border-radius: 0 30px 30px 0;
        top: 0;
        right: 0;
    }
    &:after {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform:  translate(-50%, -50%);
    }
}

.loader{
    display: flex;
    height: calc(100% - 50px);
    .loader-cont {
        width: 150px;
        height: 200px;
        margin: auto;
        text-align: center;
    }
}

.loader-dark{
    @include loader(60px,$lightBlue,$dark);
}

@-webkit-keyframes animacion {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes animacion {
    to { -webkit-transform: rotate(360deg); }
}

@keyframes animacion {
    to { -webkit-transform: rotate(360deg); }
}
