/*-------------MAIN---------------*/

.main{
    margin-top: 40px;
    overflow-x: hidden;
    min-height: 100%;
}

/*-------------MAIN-OPACITY---------------*/

.mainOpacity {
    overflow: hidden;
}

.mainOpacity::after {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.03);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    content: '';
}