.menu-sport-dark {
    background-color: $dark;
    background-blend-mode: soft-light;
    background-image: url("../../Imagenes/sport.jpg");
    background-size: cover;
}

.menu-sidebar{
    position: fixed;
    width: 250px;
    max-width: 250px;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    transition: all .5s linear;
    z-index: 150;
    
    .header-sidebar {
        padding: 20px;
        text-align: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 15px;
            width: calc(100% - 30px);
            height: 2px;
            color: $white50;
        }
        
        .pet {
            width: 50px;
        }
    }
    
    ul.nav-sidebar {
        list-style: none;
        padding: 0 10px;
        width: 250px;
        
        li {
            
            a {
                position: relative;
                display: block;
                padding: 10px;
                padding-left: 70px;
                text-decoration: none;
                line-height: 30px;
                font-weight: bold;
                overflow: hidden;
                white-space: nowrap;
                color: $white50;
                
                &,& bb{
                    transition: all .1s linear;
                    opacity: 1;
                }
                
                &:hover {
                    border-left: 2px solid $white;
                    color: $white;
                    
                }
                
                span {
                    font-size: 20px;
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    margin-top: -10px;
                }
            }
        }
    }
    
    ul.option-selected {
        list-style: none;
        padding: 0;
        width: 250px;
        
        li {
            cursor: pointer;
            padding: 10px 1px;
            border-bottom: 2px solid $blueLight;
            
            
            &:hover {
                background: $blueLight;
            }
            
            .img-select {
                height: 60px;
                width: 60px;
                border-radius: 5px;
            }
            
            .title-option {
                max-height: 35px;
                overflow: hidden;
                font-weight: bold;
            }
            
        }
        
    }
    
    &.sidebar-mini{
        width: 80px;
        max-width: 80px;
        transition: all .5s linear;
        
        &:hover {
            width: 250px !important;
            max-width: 250px !important;
        }
        
        .header-sidebar{
            padding: 20px 10px;
        }
        
        .option-selected .row .h-mini {
//            display: none;
        }
        
    }
    
}

.main-panel{
    position: relative;
    float: right;
    width: calc(100% - 250px);
    transition: all .5s linear;
    
    .header-main {
        padding: 20px;
        
        button.close-sidebar {
            margin-right: 10px;
        }
        .title-header{
            &>span {
                font-size: 18px;
                margin-right: 5px;
            }   
        }
    }
    
    &.expanded {
        width: calc(100% - 80px);
    }
}

@media screen and (max-width : 700px){
    
    .menu-sidebar{
        width: 250px !important;
        max-width: 250px !important;
        transform: translateX(-250px);
        &.sidebar-mini {
            transform: translateX(0px);
            ul.nav-sidebar {
                li a {
                    bb {
                        opacity: 1;
                    }
                }
            }
            .option-selected .row .h-mini {
                display: block;
            }
        }
    }
    
    .main-panel{
        width: 100% !important;
        &.expanded {
            transform: translateX(250px);
        }
    }
}