/*-------------NAV---------------*/

.menuHidden{
    top: 0;
    height: 40px;
    width: 40px;
    position: fixed;
    transition-property: height, width;
    transition-duration: 0.3s;
    overflow: hidden;
    z-index: 10;

    .menuIcon{
        height: 40px;
        padding: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        text-align: center;
    }
}
.menuHeight{
    height: 100%;
}
.menuWidth{
    width: 230px;
}

/*-------------TRANSICIONES DEL NAV-MEDIA VUELTA---------------*/

.nav{
    text-align: left;
    transform: scaleX(-0);
    overflow: hidden;
    transition: transform 0.1s;
}

.navWidth{
    transform: scaleX(1);
    transition: transform 0.5s;
}

/*-------------MENU DEL NAV---------------*/

.nav{
    
    h5{
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .menu{
        list-style: none;
        padding-left: 0px;
        width: 100%;
    }
}

.menu{
    border-top: 0.5px solid rgba(0,0,0,0.3);
    
    li{
        line-height: 2.5;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        position: relative;
        
        &:hover::after {
            content: '';
            position: absolute;
            background: white;
            height: 20px;
            width: 20px;
            right: -15px;
            top: 8px;
            transform: rotate(45deg);
        }

        a {
            text-decoration: none;
            color: white;
            display: block;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 0.9rem;
            white-space: nowrap;
            
            &:hover{
                background: rgba(0,0,0,0.3);
            }
            
            span {
                margin-right: 10px;
                font-size: .700rem;
            }
            
            .circle {
                float: right;
                margin: 0px;
                line-height: 3;
                font-size: .8rem;
            }
        }
    }
}

/*-------------CERRAR SESION---------------*/
.logout{
    background:  linear-gradient(90deg, #f5700c, #ff9800);
}
.logout:hover{
    background: #e86d05 !important;
}

/*-------------TIPOS DE NAVBAR---------------*/

.navbar-nav .nav-link span {
    font-size: 13px;
    margin-right: 5px;
}

.navbar-transparent-dark {
    background: rgba($black,.2);
    display: none;
    z-index: 10;
    position: fixed;
    width: inherit;
    text-shadow: 0px 1px 0px #000;
    
    &:hover {
        background: rgba($black,.8);
    }
    
    .navbar-nav {
        margin-left: 30px;
    }
    
    .navbar-nav .nav-link {
        color: $white;
    }
    
}