// PENDIENTE

.notFound {
    background: url(../../Imagenes/robot.png)no-repeat center;
    background-size: contain;
    min-height: 200px;
    width: 100%;
}
.contFound {
    display: flex;
    align-items: center;
    min-height: 400px;
    width: 100%;
    padding: 30px;
    color: $white;
    text-align: center;
}

.contFound h5 {
    width: 100%;
    display: block;
    text-align: center;
}
