.resize {
    resize: none;
}

.hid {
    display: none;
    visibility: hidden;
}

.valid-feedback, .invalid-feedback {
    font-size: .8rem;
}

.title {
    font-weight: bold;
}

.btn-warning {
    color: white;
}

.btn.btn-warning:hover,.btn.btn-warning:active {
    color: white;
}

.row > div{
    padding: 5px;
}

.br-5 {
    border-radius: 5px;
}

.overflow-h {
    overflow: hidden;
}

.ts-none {
    text-shadow: none !important;
}