.section {
    height: 100vh;
    padding: 40px;
    img{
        max-height: 400px;
        width: 400px;
    }
    
    div.line{
        height: 5px;
        margin: 15px 0;
        
        &.line-30{
            width: 30%;
        }
        &.line-white {
            background: $white;
        }
    }
}