.score {
    
    direction: rtl;
    unicode-bidi: bidi-override;
    
    span{
        color: $gray;
        font-size: 30px;
        cursor: pointer;
    }
    
    input[type= "radio"]{
        display: none;
    }
    
    label:hover,
    label:hover~label {
        span {
            color: orange;
        }
    }

    input[type="radio"]:checked~label {
        span {
            color: orange;
        }
    }
    
}