div.table-tpl {
    border-radius: 5px;
    
    .header {
        padding: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: bold;
    }
    
    table {
        thead tr {
            td, th {
                border: 0px;
                padding: 1.2rem;
                white-space: nowrap;
            }
        }
        tbody tr {
            td,th {
                border-top: 1px solid rgba(222, 226, 230, .5) !important;
                padding: 1.2rem;
                white-space: nowrap;
            }
            
        }
    }
    
}