.title-header{
    font-weight: bold;
    span.c-blue{
        color: $cyan;
    }
    span.c-orange{
        color: $orange;
    }
    span.c-pas{
        color: $pastel;
    }
    span.c-teal{
        color: $teal;
    }
}