/*-------------INICIO---------------*/

.headerHome .jumbotron{
    height: 500px;
    background: url(../../Imagenes/resort-2495217_1920.jpg)center center;
    background-size: cover;
    
    .contJumbInicio{
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
        padding: 20px;
        max-width: 400px;
    }
}

