/*-------------PAGINA DE SITIOS---------------*/

.headerSitios, .headerPromociones{
    z-index: 10;
}

#loadContSitio {
    width: 100%;
    height: calc(100%);
}

#loadContSitio {
    
    #loadInformation {
        min-height: 300px;    
    }
}