/*-------------PROMOCIONES---------------*/
.cardBodyPromo {
    height: 180px;    
    .titlePromo {
        overflow: hidden;
        height: 55px;
    }
}

.detallesPromo {
    @include positionHidden(40px,-100%);
    
    .navNegocio {
        @include backgroundWhite();
    }
    .promocion {
        @include backgroundWhite();
    }
}

.showHidden {
    left: 0;
}

header.volver {
    border-bottom: 1px solid rgba(black,.1);
    a.uri {
        color: black;
    }
}

.logoNegPromo {
    .img-logo {
        height: 120px;
        width: 120px;
        border-radius: 5px;
        border: 1px solid rgba(#ccc,.3);
    }
}

.slide-promo{
    border: 1px solid rgba(black,.1);
    #carouselPromo,
    .carousel-inner,
    .carousel-item,
    .img-sliden {
        max-height: 500px;
    }
}