// PROGRESO CIRCULAR REDONDO
@mixin circular-progress($percent,$colora,$colorb,$bgcolor,$lighten) {
    $progress: progress($percent);
    $grados: #{$progress}deg;
    $skill: '#{$percent}%';
    @if $progress > 180 {
        background: linear-gradient(180deg, lighten($colora,$lighten) 50%, $colorb 50%);
        color : lighten($colora,$lighten);
        &:before {
            content: "#{$skill}";
            background: $bgcolor content-box;
            z-index: 1;
        }
        &:after {
            content: '';
            background: linear-gradient(transparent 50%, lighten($colora,$lighten) 50%);
            transform: rotate($grados) scale(1.004);
        }
    } @else {
        background: linear-gradient(0deg, $colora 50%, $colorb 50%);
        transform: rotate($grados);
        color : $colora;
        &:before {
            content: "#{$skill}";
            background: $bgcolor content-box;
            z-index: 1;
            transform: rotate(-#{$grados});
        }
        &:after {
            content: '';
            background: linear-gradient(transparent 50%, $colorb 50%);
            transform: rotate(-#{$grados}) scale(1);
        }
    }
}

// LOADER CIRCULAR DE CONTENIDO
@mixin loader($widthei,$colorCarga,$bgcolor){
    height: $widthei;
    width: $widthei;
    background: rgba($colorCarga,0.4);
    &:before {
        height: $widthei;
        width: 50%;
        background-image: -webkit-linear-gradient(rgba($colorCarga,0),$colorCarga);
        background-image: -moz-linear-gradient(rgba($colorCarga,0),$colorCarga);
        background-image: -o-linear-gradient(rgba($colorCarga,0),$colorCarga);
        background-image: linear-gradient(rgba($colorCarga,0),$colorCarga);
    }
    &:after {
        height: $widthei - 10px;
        width: $widthei - 10px ;
        background-color: $bgcolor;
    }
}