@mixin positionHidden($top,$position){
    position: fixed;
    width: 100%;
    height: calc(100% - 40px);
    top: $top;
    left: $position;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden !important;
    display: none;
    transition: all .9s ease;
}