@mixin scrollbar($color){
    &::-webkit-scrollbar {
        background: rgba($color,.2);
        width: 7px;
        border-radius: 10px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba($color,.7);
        border-radius: 7px;
    }
}