@mixin translateY($px) {
    -webkit-transform: translateY($px);
    -ms-transform: translateY($px);
    -o-transform: translateY($px);
    transform: translateY($px);
}

@mixin translateX($px){
    -webkit-transform: translateX($px);
    -ms-transform: translateX($px);
    -o-transform: translateX($px);
    transform: translateX($px);
}