/*
 ========================================================= 
    codigo escrito por jhonattan rojas montoya 
 ========================================================= 
    TU PLAN V:1.8 SEPTIEMBRE 4 DE MARZO DEL 2018
 ========================================================= 
*/
/*-------------GRAFICO CIRCULAR DE PROGRESO---------------*/
.circular-grafic {
  margin: auto;
  position: relative; }
  .circular-grafic, .circular-grafic:before, .circular-grafic:after {
    height: 100px;
    width: 100px;
    border-radius: 50%; }
  .circular-grafic:before, .circular-grafic:after {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    line-height: 3.8;
    font-size: 1.5em;
    font-weight: bold; }

.percent-success {
  background: linear-gradient(180deg, #34ce57 50%, #e9e9e9 50%);
  color: #34ce57; }
  .percent-success:before {
    content: "80%";
    background: white content-box;
    z-index: 1; }
  .percent-success:after {
    content: '';
    background: linear-gradient(transparent 50%, #34ce57 50%);
    transform: rotate(288deg) scale(1.004); }

.percent-dark-success {
  background: linear-gradient(0deg, #28a745 50%, #e9e9e9 50%);
  transform: rotate(108deg);
  color: #28a745; }
  .percent-dark-success:before {
    content: "30%";
    background: #252c48 content-box;
    z-index: 1;
    transform: rotate(-108deg); }
  .percent-dark-success:after {
    content: '';
    background: linear-gradient(transparent 50%, #e9e9e9 50%);
    transform: rotate(-108deg) scale(1); }

.percent-dark-primary {
  background: linear-gradient(180deg, #3395ff 50%, #e9e9e9 50%);
  color: #3395ff; }
  .percent-dark-primary:before {
    content: "80%";
    background: #252c48 content-box;
    z-index: 1; }
  .percent-dark-primary:after {
    content: '';
    background: linear-gradient(transparent 50%, #3395ff 50%);
    transform: rotate(288deg) scale(1.004); }

/*-------------loader circular-reutilisable scss---------------*/
.loader-circular {
  position: absolute;
  left: calc(50% - 30px);
  margin: 0 auto;
  -webkit-animation: animacion .6s linear 0s infinite;
  -moz-animation: animacion .6s linear 0s infinite;
  -o-animation: animacion .6s linear 0s infinite;
  animation: animacion .6s linear 0s infinite; }
  .loader-circular, .loader-circular:after {
    border-radius: 50%; }
  .loader-circular:before, .loader-circular:after {
    content: '';
    display: block;
    position: absolute; }
  .loader-circular:before {
    border-radius: 0 30px 30px 0;
    top: 0;
    right: 0; }
  .loader-circular:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.loader {
  display: flex;
  height: calc(100% - 50px); }
  .loader .loader-cont {
    width: 150px;
    height: 200px;
    margin: auto;
    text-align: center; }

.loader-dark {
  height: 60px;
  width: 60px;
  background: rgba(77, 100, 136, 0.4); }
  .loader-dark:before {
    height: 60px;
    width: 50%;
    background-image: -webkit-linear-gradient(rgba(77, 100, 136, 0), #4D6488);
    background-image: -moz-linear-gradient(rgba(77, 100, 136, 0), #4D6488);
    background-image: -o-linear-gradient(rgba(77, 100, 136, 0), #4D6488);
    background-image: linear-gradient(rgba(77, 100, 136, 0), #4D6488); }
  .loader-dark:after {
    height: 50px;
    width: 50px;
    background-color: #171c31; }

@-webkit-keyframes animacion {
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes animacion {
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes animacion {
  to {
    -webkit-transform: rotate(360deg); } }
/*-------------ANIMACION Y TRANSICION DE OBJETOS---------------*/
.transition-obj {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  opacity: 0; }
  .transition-obj.title {
    margin-bottom: 50px;
    font-size: 2.5rem; }
  .transition-obj.description {
    font-size: 18px; }
  .transition-obj.transition-top {
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px); }
  .transition-obj.transition-left {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transform: translateX(60px); }
  .transition-obj.transition-right {
    -webkit-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    transform: translateX(-60px); }
  .transition-obj.show {
    -webkit-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    -o-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1; }

/*-------------AREAS HIDDEN CON ANIMACIONES---------------*/
.area-right-100 {
  position: fixed;
  width: 100%;
  height: calc(100% - 40px);
  top: 40px;
  left: 100%;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden !important;
  display: none;
  transition: all .9s ease; }

.area-right-50 {
  position: fixed;
  width: 100%;
  height: calc(100% - 40px);
  top: 40px;
  left: 50%;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden !important;
  display: none;
  transition: all .9s ease; }

[data-hidden-transition] {
  display: none; }

/*-------------DIRECCION DE MOSTRADO---------------*/
.show-left {
  left: 0; }

/*-------------BOTON DE CERRAR---------------*/
.close-area {
  padding: 5px 30px;
  border-right: 1px solid;
  cursor: pointer;
  font-size: 1rem;
  margin: 0; }
  .close-area .navbar-collapse .navbar-nav span {
    font-size: 15px;
    margin-right: 5px; }

.transparent-dark-1 {
  background: rgba(0, 0, 0, 0.1); }

.badge-success-lighten {
  color: #0acf97;
  background-color: rgba(10, 207, 151, 0.18); }

.badge-warning-lighten {
  color: #ffbc00;
  background-color: rgba(255, 188, 0, 0.18); }

.badge-danger-lighten {
  color: #fa5c7c;
  background-color: rgba(250, 92, 124, 0.18); }

.badge-info-lighten {
  color: #39afd1;
  background-color: rgba(57, 175, 209, 0.25); }

.badge-strong {
  font-size: 14px; }

.border-success {
  border: 1px solid rgba(40, 167, 69, 0.5) !important; }

.border-primary {
  border: 1px solid rgba(0, 123, 255, 0.5) !important; }

.border-warning {
  border: 1px solid rgba(255, 193, 7, 0.5) !important; }

.border-danger {
  border: 1px solid rgba(220, 53, 69, 0.5) !important; }

.border-info {
  border: 1px solid rgba(23, 162, 184, 0.5) !important; }

.border-indigo {
  border: 1px solid rgba(102, 16, 242, 0.5) !important; }

.border-tooltip {
  border: 1px solid #2C3C54 !important; }

/*-------------BOTONES DE LA APP---------------*/
.btn.btn-option-xs {
  line-height: 1.1;
  font-size: 80%;
  border-radius: 50px;
  border: 0;
  padding: .25rem .75rem;
  margin-bottom: 5px;
  cursor: pointer; }
  .btn.btn-option-xs span {
    font-size: 10px;
    margin-right: 3px; }

.btn-orange {
  color: #fff;
  background-color: #fd7e14; }

.btn-indigo {
  color: #fff;
  background-color: #6610f2; }

.btn-purple {
  color: #fff;
  background-color: #6f42c1; }

.btn-cyan {
  color: #fff;
  background-color: #6cb2eb; }

.btn-teal {
  color: #fff;
  background-color: #20c997; }

.btn-pink {
  color: #fff;
  background-color: #e83e8c; }

button.btn-icon span {
  font-size: 12px;
  margin-right: 5px; }

/*-------------CARDS PROPIOS DE LA APLICACION---------------*/
.card-tpl {
  border: 0px;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 40px; }
  .card-tpl.animate {
    cursor: pointer; }
  .card-tpl .card-img-content {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
    position: relative; }
    .card-tpl .card-img-content img.card-img {
      width: 100%;
      height: 160px;
      transition: all .4s ease;
      position: absolute;
      z-index: 1; }
      .card-tpl .card-img-content img.card-img.animate-top {
        margin-top: -30px; }
    .card-tpl .card-img-content .card-options {
      position: absolute;
      display: flex;
      width: 100%;
      bottom: 0; }
      .card-tpl .card-img-content .card-options .option {
        flex: 1; }
  .card-tpl .card-body {
    padding: 0px 5px;
    margin-bottom: 10px; }
    .card-tpl .card-body .card-category {
      display: block;
      margin-bottom: 10px; }
    .card-tpl .card-body .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .card-tpl .card-body .card-description {
      font-size: 15px;
      overflow: hidden; }
  .card-tpl .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%; }
    .card-tpl .card-footer label {
      margin: 0; }

/*-------------PRESENTACION DE CONTENIDO CON ICONO---------------*/
.card-presentation-info {
  padding: 10px;
  position: relative; }
  .card-presentation-info .icon-card {
    font-size: 80px; }
  .card-presentation-info h6, .card-presentation-info h1 {
    text-shadow: 0px 1px 0px #000; }

/*-------------MINI CARDS---------------*/
.card-mini, .card-icon {
  border-radius: 5px;
  padding: 15px !important;
  position: relative; }

.card-icon .icon {
  position: absolute;
  padding: 10px; }
  .card-icon .icon.icon-right {
    right: 10px;
    top: -15px; }
    .card-icon .icon.icon-right span {
      font-size: 20px; }

.chart400 {
  height: 400px !important; }

.dropdown-menu-tpl:before {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  top: -5px;
  left: 10px;
  right: auto;
  color: #fff;
  border-bottom: .4em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent; }
.dropdown-menu-tpl.dropdown-menu-right:before {
  left: auto;
  right: 10px; }

.dropdown-tpl {
  border: none;
  opacity: 0;
  box-shadow: 0 9px 50px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -20px, 0) !important;
  display: block;
  visibility: hidden;
  transition: all .15s linear; }
  .dropdown-tpl .dropdown-item {
    padding: .6rem 1.5rem;
    color: #888; }
    .dropdown-tpl .dropdown-item span {
      font-size: 10px;
      margin-right: 5px; }
    .dropdown-tpl .dropdown-item:hover {
      background-color: rgba(222, 222, 222, 0.3); }
  .dropdown-tpl.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 1px, 0) !important;
    transition: all .15s linear; }

/*-------------FOOTER---------------*/
.footer {
  height: 50px;
  position: sticky;
  top: 100%; }

.gallery ul {
  list-style: none;
  padding: 0px; }
  .gallery ul li {
    list-style-type: none;
    display: inline-block;
    overflow: hidden; }
    .gallery ul li img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      -webkit-transition: all .9s ease;
      -moz-transition: all .9s ease;
      -ms-transition: all .9s ease;
      -o-transition: all .9s ease;
      transition: all .9s ease; }
    .gallery ul li img:hover {
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -o-transform: scale(1.25);
      transform: scale(1.25); }
.gallery.gallery-4-22 ul li {
  width: calc(97% / 4);
  height: 22vh; }
.gallery.gallery-3-15 ul li {
  width: calc(97% / 3);
  height: 15vh; }

@media only screen and (max-width: 500px) {
  .gallery ul li {
    width: calc(97% / 2) !important; } }
.gallery-show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 20px;
  overflow-y: auto;
  display: flex; }
  .gallery-show .close-gallery {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 20px;
    color: white;
    z-index: 10001;
    cursor: pointer; }
  .gallery-show .img, .gallery-show .img img {
    margin: auto;
    display: block; }
  .gallery-show .img img {
    max-width: 90%; }
  .gallery-show .img-change {
    position: fixed;
    width: 50px;
    height: 80%;
    top: 10%;
    display: flex;
    align-content: center;
    align-items: center; }
    .gallery-show .img-change .icon {
      font-size: 20px;
      color: white;
      margin: auto;
      padding: 10px;
      background: rgba(0, 0, 0, 0.5); }
  .gallery-show .next {
    right: 10px; }
  .gallery-show .prev {
    left: 10px; }

/*-------------GENERALES---------------*/
.titulo {
  opacity: .8;
  font-weight: bold; }

.br-0 {
  border-radius: 0px !important; }

.before-white::before {
  color: #fff !important; }

html, body, .contenedor {
  height: 100%;
  line-height: normal; }

.contenedor {
  padding: 0.1px; }

/*--------------HEADER-----------------*/
.header-tpl {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 5px;
  z-index: 1000;
  padding-left: 0px; }
  .header-tpl div {
    flex: 1; }
  .header-tpl .imgLogo {
    height: 30px;
    width: 30px; }
  .header-tpl .title h4 {
    font-weight: bold;
    text-align: center;
    margin: 0px;
    line-height: 1.4; }
  .header-tpl .imgUser {
    float: right;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black; }

/*-------------ALTOS Y ANCHOS PERSONALIZADOS---------------*/
.h-600 {
  height: 43vw; }

.h-87 {
  height: 87px; }

.h-65 {
  height: 65px; }

.h-90 {
  height: 90px; }

.t-40 {
  height: 20px;
  width: 20px; }

.mt-52 {
  margin-top: 52px !important; }

.h-100p {
  height: 100px; }

.h-100-vh {
  height: 100vh; }

/*-------------FORMS PROPIOS DE LA APP---------------*/
.form-group-tpl {
  position: relative;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  .form-group-tpl label {
    margin-bottom: 0px; }
  .form-group-tpl label.label {
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    pointer-events: none; }
    .form-group-tpl label.label.active, .form-group-tpl label.label.placeholder {
      top: -12px !important;
      font-size: 12px;
      line-height: 12px; }
    .form-group-tpl label.label.label-lg {
      top: 12px;
      left: 12px; }
    .form-group-tpl label.label.label-sm {
      top: 6px;
      left: 8px; }
    .form-group-tpl label.label span.icon-right {
      margin-right: 10px; }
    .form-group-tpl label.label span.icon-left {
      margin-left: 10px; }
  .form-group-tpl input, .form-group-tpl input:focus, .form-group-tpl textarea, .form-group-tpl textarea:focus {
    background: none;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    border-radius: 0px; }
  .form-group-tpl input[type=date], .form-group-tpl input[type=time] {
    padding: 3px 16px; }
  .form-group-tpl.checkbox label, .form-group-tpl.radio label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .form-group-tpl.checkbox label::before, .form-group-tpl.radio label::before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none; }
  .form-group-tpl.checkbox input[type="radio"],
  .form-group-tpl.checkbox input[type="checkbox"], .form-group-tpl.radio input[type="radio"],
  .form-group-tpl.radio input[type="checkbox"] {
    display: none; }
    .form-group-tpl.checkbox input[type="radio"]:checked + label::before,
    .form-group-tpl.checkbox input[type="checkbox"]:checked + label::before, .form-group-tpl.radio input[type="radio"]:checked + label::before,
    .form-group-tpl.radio input[type="checkbox"]:checked + label::before {
      display: none; }
    .form-group-tpl.checkbox input[type="radio"]:checked + label,
    .form-group-tpl.checkbox input[type="checkbox"]:checked + label, .form-group-tpl.radio input[type="radio"]:checked + label,
    .form-group-tpl.radio input[type="checkbox"]:checked + label {
      padding: 5px 15px; }
  .form-group-tpl.checkbox label::before {
    border-radius: 3px !important; }
  .form-group-tpl input.select-tpl {
    width: 0px;
    height: 0px;
    visibility: hidden !important;
    display: none; }
  .form-group-tpl .select {
    font-size: 16px;
    line-height: 1.3;
    position: relative;
    cursor: pointer; }
    .form-group-tpl .select span {
      font-size: 10px;
      position: absolute;
      right: 16px; }
    .form-group-tpl .select.select-sm {
      height: 28px;
      padding: 4px 8px; }
      .form-group-tpl .select.select-sm span {
        top: calc(29px / 2.7); }
      .form-group-tpl .select.select-sm .options {
        top: 29px; }
        .form-group-tpl .select.select-sm .options ol li {
          padding: 4px 8px; }
    .form-group-tpl .select.select-lg {
      height: 37px;
      padding: 6px 12px; }
      .form-group-tpl .select.select-lg span {
        top: calc(29px / 2.1); }
      .form-group-tpl .select.select-lg .options {
        top: 37px; }
        .form-group-tpl .select.select-lg .options ol li {
          padding: 6px 12px; }
    .form-group-tpl .select .options {
      position: absolute;
      overflow-x: hidden;
      display: none;
      max-height: 0px;
      width: 100%;
      left: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 10; }
      .form-group-tpl .select .options ol {
        list-style: none;
        display: block;
        width: calc(100%);
        margin: 0;
        padding: 0px;
        font-size: 16px;
        line-height: 20px; }
        .form-group-tpl .select .options ol li:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px; }
      .form-group-tpl .select .options.active {
        max-height: 150px !important;
        display: block !important; }

/*-------------IMAGENES---------------*/
.img-center {
  display: block;
  margin: auto; }

.fit-cover {
  object-fit: cover; }

.fit-containe {
  object-fit: fill; }

.img-70 {
  height: 70px;
  width: 70px; }

.image-user {
  height: 150px;
  width: 150px;
  margin: auto;
  display: block;
  margin-bottom: 20px; }

.load-image-js {
  overflow: auto; }
  .load-image-js .load-images {
    border-radius: 10px;
    border: 2px dashed #bbbdc8;
    padding: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    color: #bbbdc8; }
    .load-image-js .load-images img {
      width: 50%;
      display: block;
      margin: auto;
      margin-bottom: 20px; }

/*-------------JUMBOTRONS PERSONALIZADOS---------------*/
.jumb-tuplan {
  border-radius: 0px; }

.jumb-office {
  background: url(../../Imagenes/Estadistics.jpg) no-repeat center;
  background-size: cover; }
  .jumb-office .jumb-cont {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 20px;
    max-width: 400px; }

.list-group-icon li {
  padding-left: 60px; }
  .list-group-icon li span {
    font-size: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px; }

/*-------------MAIN---------------*/
.main {
  margin-top: 40px;
  overflow-x: hidden;
  min-height: 100%; }

/*-------------MAIN-OPACITY---------------*/
.mainOpacity {
  overflow: hidden; }

.mainOpacity::after {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  content: ''; }

.menu-sport-dark {
  background-color: #171c31;
  background-blend-mode: soft-light;
  background-image: url("../../Imagenes/sport.jpg");
  background-size: cover; }

.menu-sidebar {
  position: fixed;
  width: 250px;
  max-width: 250px;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  transition: all .5s linear;
  z-index: 150; }
  .menu-sidebar .header-sidebar {
    padding: 20px;
    text-align: center;
    position: relative; }
    .menu-sidebar .header-sidebar::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 15px;
      width: calc(100% - 30px);
      height: 2px;
      color: #bbbdc8; }
    .menu-sidebar .header-sidebar .pet {
      width: 50px; }
  .menu-sidebar ul.nav-sidebar {
    list-style: none;
    padding: 0 10px;
    width: 250px; }
    .menu-sidebar ul.nav-sidebar li a {
      position: relative;
      display: block;
      padding: 10px;
      padding-left: 70px;
      text-decoration: none;
      line-height: 30px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      color: #bbbdc8; }
      .menu-sidebar ul.nav-sidebar li a, .menu-sidebar ul.nav-sidebar li a bb {
        transition: all .1s linear;
        opacity: 1; }
      .menu-sidebar ul.nav-sidebar li a:hover {
        border-left: 2px solid #fff;
        color: #fff; }
      .menu-sidebar ul.nav-sidebar li a span {
        font-size: 20px;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -10px; }
  .menu-sidebar ul.option-selected {
    list-style: none;
    padding: 0;
    width: 250px; }
    .menu-sidebar ul.option-selected li {
      cursor: pointer;
      padding: 10px 1px;
      border-bottom: 2px solid #2D3A5D; }
      .menu-sidebar ul.option-selected li:hover {
        background: #2D3A5D; }
      .menu-sidebar ul.option-selected li .img-select {
        height: 60px;
        width: 60px;
        border-radius: 5px; }
      .menu-sidebar ul.option-selected li .title-option {
        max-height: 35px;
        overflow: hidden;
        font-weight: bold; }
  .menu-sidebar.sidebar-mini {
    width: 80px;
    max-width: 80px;
    transition: all .5s linear; }
    .menu-sidebar.sidebar-mini:hover {
      width: 250px !important;
      max-width: 250px !important; }
    .menu-sidebar.sidebar-mini .header-sidebar {
      padding: 20px 10px; }

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 250px);
  transition: all .5s linear; }
  .main-panel .header-main {
    padding: 20px; }
    .main-panel .header-main button.close-sidebar {
      margin-right: 10px; }
    .main-panel .header-main .title-header > span {
      font-size: 18px;
      margin-right: 5px; }
  .main-panel.expanded {
    width: calc(100% - 80px); }

@media screen and (max-width: 700px) {
  .menu-sidebar {
    width: 250px !important;
    max-width: 250px !important;
    transform: translateX(-250px); }
    .menu-sidebar.sidebar-mini {
      transform: translateX(0px); }
      .menu-sidebar.sidebar-mini ul.nav-sidebar li a bb {
        opacity: 1; }
      .menu-sidebar.sidebar-mini .option-selected .row .h-mini {
        display: block; }

  .main-panel {
    width: 100% !important; }
    .main-panel.expanded {
      transform: translateX(250px); } }
/*-------------NAV---------------*/
.menuHidden {
  top: 0;
  height: 40px;
  width: 40px;
  position: fixed;
  transition-property: height, width;
  transition-duration: 0.3s;
  overflow: hidden;
  z-index: 10; }
  .menuHidden .menuIcon {
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center; }

.menuHeight {
  height: 100%; }

.menuWidth {
  width: 230px; }

/*-------------TRANSICIONES DEL NAV-MEDIA VUELTA---------------*/
.nav {
  text-align: left;
  transform: scaleX(0);
  overflow: hidden;
  transition: transform 0.1s; }

.navWidth {
  transform: scaleX(1);
  transition: transform 0.5s; }

/*-------------MENU DEL NAV---------------*/
.nav h5 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; }
.nav .menu {
  list-style: none;
  padding-left: 0px;
  width: 100%; }

.menu {
  border-top: 0.5px solid rgba(0, 0, 0, 0.3); }
  .menu li {
    line-height: 2.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative; }
    .menu li:hover::after {
      content: '';
      position: absolute;
      background: white;
      height: 20px;
      width: 20px;
      right: -15px;
      top: 8px;
      transform: rotate(45deg); }
    .menu li a {
      text-decoration: none;
      color: white;
      display: block;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 0.9rem;
      white-space: nowrap; }
      .menu li a:hover {
        background: rgba(0, 0, 0, 0.3); }
      .menu li a span {
        margin-right: 10px;
        font-size: .700rem; }
      .menu li a .circle {
        float: right;
        margin: 0px;
        line-height: 3;
        font-size: .8rem; }

/*-------------CERRAR SESION---------------*/
.logout {
  background: linear-gradient(90deg, #f5700c, #ff9800); }

.logout:hover {
  background: #e86d05 !important; }

/*-------------TIPOS DE NAVBAR---------------*/
.navbar-nav .nav-link span {
  font-size: 13px;
  margin-right: 5px; }

.navbar-transparent-dark {
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 10;
  position: fixed;
  width: inherit;
  text-shadow: 0px 1px 0px #000; }
  .navbar-transparent-dark:hover {
    background: rgba(0, 0, 0, 0.8); }
  .navbar-transparent-dark .navbar-nav {
    margin-left: 30px; }
  .navbar-transparent-dark .navbar-nav .nav-link {
    color: #fff; }

.pet-inicio {
  width: 100px; }

div.table-tpl {
  border-radius: 5px; }
  div.table-tpl .header {
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold; }
  div.table-tpl table thead tr td, div.table-tpl table thead tr th {
    border: 0px;
    padding: 1.2rem;
    white-space: nowrap; }
  div.table-tpl table tbody tr td, div.table-tpl table tbody tr th {
    border-top: 1px solid rgba(222, 226, 230, 0.5) !important;
    padding: 1.2rem;
    white-space: nowrap; }

.title-header {
  font-weight: bold; }
  .title-header span.c-blue {
    color: #6cb2eb; }
  .title-header span.c-orange {
    color: #fd7e14; }
  .title-header span.c-pas {
    color: #dc6d6e; }
  .title-header span.c-teal {
    color: #20c997; }

.score {
  direction: rtl;
  unicode-bidi: bidi-override; }
  .score span {
    color: #868e96;
    font-size: 30px;
    cursor: pointer; }
  .score input[type="radio"] {
    display: none; }
  .score label:hover span,
  .score label:hover ~ label span {
    color: orange; }
  .score input[type="radio"]:checked ~ label span {
    color: orange; }

.section {
  height: 100vh;
  padding: 40px; }
  .section img {
    max-height: 400px;
    width: 400px; }
  .section div.line {
    height: 5px;
    margin: 15px 0; }
    .section div.line.line-30 {
      width: 30%; }
    .section div.line.line-white {
      background: #fff; }

/*Alertas de la aplicacion*/
.alert {
  padding: 20px;
  border: none;
  color: #fff;
  width: 400px; }
  .alert.alert-icon {
    padding-left: 60px; }
    .alert.alert-icon [data-notify="icon"] {
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -10px;
      font-size: 20px; }
  .alert .close {
    font-size: 15px; }
    .alert .close, .alert .close:hover, .alert .close:focus {
      color: rgba(255, 255, 255, 0.4) !important; }
  .alert.alert-success {
    background: linear-gradient(90deg, #288c6c, #4ea752); }
  .alert.alert-warning {
    background: linear-gradient(90deg, #f5700c, #ff9800); }
  .alert.alert-info {
    background: linear-gradient(90deg, #029eb1, #25b1c3); }
  .alert.alert-danger {
    background: linear-gradient(90deg, #d22824, #da3a36); }

/*-------------loader circular-reutilisable scss---------------*/
.loader-circular {
  position: absolute;
  left: calc(50% - 30px);
  margin: 0 auto;
  -webkit-animation: animacion .6s linear 0s infinite;
  -moz-animation: animacion .6s linear 0s infinite;
  -o-animation: animacion .6s linear 0s infinite;
  animation: animacion .6s linear 0s infinite; }
  .loader-circular, .loader-circular:after {
    border-radius: 50%; }
  .loader-circular:before, .loader-circular:after {
    content: '';
    display: block;
    position: absolute; }
  .loader-circular:before {
    border-radius: 0 30px 30px 0;
    top: 0;
    right: 0; }
  .loader-circular:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.loader {
  display: flex;
  height: calc(100% - 50px); }
  .loader .loader-cont {
    width: 150px;
    height: 200px;
    margin: auto;
    text-align: center; }

.loader-dark {
  height: 60px;
  width: 60px;
  background: rgba(77, 100, 136, 0.4); }
  .loader-dark:before {
    height: 60px;
    width: 50%;
    background-image: -webkit-linear-gradient(rgba(77, 100, 136, 0), #4D6488);
    background-image: -moz-linear-gradient(rgba(77, 100, 136, 0), #4D6488);
    background-image: -o-linear-gradient(rgba(77, 100, 136, 0), #4D6488);
    background-image: linear-gradient(rgba(77, 100, 136, 0), #4D6488); }
  .loader-dark:after {
    height: 50px;
    width: 50px;
    background-color: #171c31; }

@-webkit-keyframes animacion {
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes animacion {
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes animacion {
  to {
    -webkit-transform: rotate(360deg); } }
.notFound {
  background: url(../../Imagenes/robot.png) no-repeat center;
  background-size: contain;
  min-height: 200px;
  width: 100%; }

.contFound {
  display: flex;
  align-items: center;
  min-height: 400px;
  width: 100%;
  padding: 30px;
  color: #fff;
  text-align: center; }

.contFound h5 {
  width: 100%;
  display: block;
  text-align: center; }

.resize {
  resize: none; }

.hid {
  display: none;
  visibility: hidden; }

.valid-feedback, .invalid-feedback {
  font-size: .8rem; }

.title {
  font-weight: bold; }

.btn-warning {
  color: white; }

.btn.btn-warning:hover, .btn.btn-warning:active {
  color: white; }

.row > div {
  padding: 5px; }

.br-5 {
  border-radius: 5px; }

.overflow-h {
  overflow: hidden; }

.ts-none {
  text-shadow: none !important; }

/*-------------REDES SOCIALES---------------*/
.btn-social span {
  font-size: 17px;
  float: left;
  line-height: 24px; }

.swal-text {
  text-align: center; }

/*-------------SCROLL DE LA APP---------------*/
body::-webkit-scrollbar {
  background: #252c48;
  width: 10px;
  border-left: 0.5px solid rgba(255, 255, 255, 0.1); }

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  width: 10px; }

/*------FONDOS-------*/
.light-blue {
  background: #4D6488; }

.blue {
  background: #36465E; }

.dark {
  background: #171c31; }

.darkBlue {
  background: #252c48; }

.blueLight {
  background: #2D3A5D; }

.gray {
  background: #31373D; }

.dark-sl {
  background: #0e1728; }

.btooltip {
  background: #2C3C54; }

.brightBlue {
  background: #172b4d; }

/*-------------SOMBRAS-DARK---------------*/
.bs-dark {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }

.bs-m-dark {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1); }

/*----FORMULARIOS Y INPUTS DARK----*/
.form-group-tpl.form-group-dark {
  color: #8E93A1; }
  .form-group-tpl.form-group-dark label.label.active, .form-group-tpl.form-group-dark label.label.placeholder {
    color: #fff; }
  .form-group-tpl.form-group-dark input, .form-group-tpl.form-group-dark textarea, .form-group-tpl.form-group-dark .select {
    color: #8E93A1;
    border: 0px;
    border-bottom: 1px solid #8E93A1; }
    .form-group-tpl.form-group-dark input:focus, .form-group-tpl.form-group-dark input:active, .form-group-tpl.form-group-dark textarea:focus, .form-group-tpl.form-group-dark textarea:active, .form-group-tpl.form-group-dark .select:focus, .form-group-tpl.form-group-dark .select:active {
      border-bottom: 1px solid #fff;
      color: #fff;
      outline: none; }
    .form-group-tpl.form-group-dark input:disabled, .form-group-tpl.form-group-dark input[readonly], .form-group-tpl.form-group-dark input[disabled], .form-group-tpl.form-group-dark textarea:disabled, .form-group-tpl.form-group-dark textarea[readonly], .form-group-tpl.form-group-dark textarea[disabled], .form-group-tpl.form-group-dark .select:disabled, .form-group-tpl.form-group-dark .select[readonly], .form-group-tpl.form-group-dark .select[disabled] {
      background-color: transparent;
      border-bottom-style: dashed;
      opacity: none; }
  .form-group-tpl.form-group-dark.checkbox label:hover, .form-group-tpl.form-group-dark.radio label:hover {
    background: rgba(0, 0, 0, 0.2); }
  .form-group-tpl.form-group-dark.checkbox label::before, .form-group-tpl.form-group-dark.radio label::before {
    border: 2px solid #8E93A1; }
  .form-group-tpl.form-group-dark.checkbox.error label, .form-group-tpl.form-group-dark.radio.error label {
    color: #dc3545; }
    .form-group-tpl.form-group-dark.checkbox.error label:hover, .form-group-tpl.form-group-dark.radio.error label:hover {
      background: rgba(220, 53, 69, 0.2); }
    .form-group-tpl.form-group-dark.checkbox.error label::before, .form-group-tpl.form-group-dark.radio.error label::before {
      border: 2px solid #dc3545; }
  .form-group-tpl.form-group-dark.checkbox input[type="radio"]:checked + label,
  .form-group-tpl.form-group-dark.checkbox input[type="checkbox"]:checked + label, .form-group-tpl.form-group-dark.radio input[type="radio"]:checked + label,
  .form-group-tpl.form-group-dark.radio input[type="checkbox"]:checked + label {
    background: #007bff;
    color: #fff; }
  .form-group-tpl.form-group-dark.error, .form-group-tpl.form-group-dark.error input, .form-group-tpl.form-group-dark.error .label {
    color: rgba(220, 53, 69, 0.8) !important; }
  .form-group-tpl.form-group-dark.error input {
    border-bottom: 1px solid rgba(220, 53, 69, 0.8); }
    .form-group-tpl.form-group-dark.error input:active, .form-group-tpl.form-group-dark.error input:focus {
      border-bottom: 1px solid #fff; }
  .form-group-tpl.form-group-dark .select.active {
    color: #fff;
    border-bottom: 1px solid #fff; }
  .form-group-tpl.form-group-dark .select .options {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #868e96; }
    .form-group-tpl.form-group-dark .select .options ol {
      background: rgba(23, 28, 49, 0.95); }
      .form-group-tpl.form-group-dark .select .options ol li:not(:last-child) {
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.1); }
      .form-group-tpl.form-group-dark .select .options ol li:hover {
        background: rgba(0, 0, 0, 0.4);
        color: #fff; }

/*-------------CARDS---------------*/
.card-tpl.card-dark {
  background: #252c48; }
  .card-tpl.card-dark .card-body .card-title {
    color: #fff; }
  .card-tpl.card-dark .card-body .card-description {
    color: #8E93A1; }

/*-------------LIST-GROUPS---------------*/
.list-group-dark .list-group-item {
  color: #fff;
  background-color: #252c48; }
  .list-group-dark .list-group-item.active, .list-group-dark .list-group-item:hover {
    background-color: #10396f; }
  .list-group-dark .list-group-item.active {
    border: 1px solid rgba(0, 0, 0, 0.125); }

.list-group-darkBlue .list-group-item {
  color: #fff;
  background-color: transparent;
  border-top: 1px solid #36465E; }

/*-------------SCROLLS PROPIOS---------------*/
.scroll-white::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.2);
  width: 7px;
  border-radius: 10px;
  height: 8px; }
.scroll-white::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px; }

/*-------------HRS PROPIOS---------------*/
hr.hrdark {
  border-bottom: 1px solid rgba(180, 180, 180, 0.1); }

/*-------------MODALES---------------*/
.modal-dark .modal-content {
  background: #172b4d;
  color: #fff; }
  .modal-dark .modal-content .modal-footer {
    border: 0; }

/*-------------TABLAS---------------*/
.table-dark .header {
  background: #2D3A5D; }
.table-dark table tbody {
  color: #A3ABC1; }

/*----FORMULARIOS Y INPUTS DARK----*/
.form-group-tpl.form-group-white {
  color: #8E93A1; }
  .form-group-tpl.form-group-white label.label.focus {
    color: #17a2b8; }
  .form-group-tpl.form-group-white input, .form-group-tpl.form-group-white textarea, .form-group-tpl.form-group-white .select {
    color: #8E93A1;
    border: 0px;
    border-bottom: 1px solid #8E93A1; }
    .form-group-tpl.form-group-white input:focus, .form-group-tpl.form-group-white input:active, .form-group-tpl.form-group-white textarea:focus, .form-group-tpl.form-group-white textarea:active, .form-group-tpl.form-group-white .select:focus, .form-group-tpl.form-group-white .select:active {
      border-bottom: 1px solid #17a2b8;
      color: #000;
      outline: none; }
    .form-group-tpl.form-group-white input:disabled, .form-group-tpl.form-group-white input[readonly], .form-group-tpl.form-group-white input[disabled], .form-group-tpl.form-group-white textarea:disabled, .form-group-tpl.form-group-white textarea[readonly], .form-group-tpl.form-group-white textarea[disabled], .form-group-tpl.form-group-white .select:disabled, .form-group-tpl.form-group-white .select[readonly], .form-group-tpl.form-group-white .select[disabled] {
      background-color: transparent;
      border-bottom-style: dashed;
      opacity: none; }
  .form-group-tpl.form-group-white.checkbox label:hover, .form-group-tpl.form-group-white.radio label:hover {
    background: rgba(0, 0, 0, 0.2); }
  .form-group-tpl.form-group-white.checkbox label::before, .form-group-tpl.form-group-white.radio label::before {
    border: 2px solid #8E93A1; }
  .form-group-tpl.form-group-white.checkbox.error label, .form-group-tpl.form-group-white.radio.error label {
    color: #dc3545; }
    .form-group-tpl.form-group-white.checkbox.error label:hover, .form-group-tpl.form-group-white.radio.error label:hover {
      background: rgba(220, 53, 69, 0.2); }
    .form-group-tpl.form-group-white.checkbox.error label::before, .form-group-tpl.form-group-white.radio.error label::before {
      border: 2px solid #dc3545; }
  .form-group-tpl.form-group-white.checkbox input[type="radio"]:checked + label,
  .form-group-tpl.form-group-white.checkbox input[type="checkbox"]:checked + label, .form-group-tpl.form-group-white.radio input[type="radio"]:checked + label,
  .form-group-tpl.form-group-white.radio input[type="checkbox"]:checked + label {
    background: #007bff;
    color: #fff; }
  .form-group-tpl.form-group-white.error, .form-group-tpl.form-group-white.error input, .form-group-tpl.form-group-white.error .label {
    color: rgba(220, 53, 69, 0.8) !important; }
  .form-group-tpl.form-group-white.error input {
    border-bottom: 1px solid rgba(220, 53, 69, 0.8); }
    .form-group-tpl.form-group-white.error input:active, .form-group-tpl.form-group-white.error input:focus {
      border-bottom: 1px solid #fff; }
  .form-group-tpl.form-group-white .select.active {
    color: #fff;
    border-bottom: 1px solid #fff; }
  .form-group-tpl.form-group-white .select .options {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #868e96; }
    .form-group-tpl.form-group-white .select .options ol {
      background: rgba(23, 28, 49, 0.95); }
      .form-group-tpl.form-group-white .select .options ol li:not(:last-child) {
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.1); }
      .form-group-tpl.form-group-white .select .options ol li:hover {
        background: rgba(0, 0, 0, 0.4);
        color: #fff; }

/*# sourceMappingURL=Cliente.css.map */
