// FONDO OSCURO
$darksl: #0e1728;

// MENOS OSCURO
$dark: #171c31;

// COLOR DE LOS TOOLTIPS
$tooltip : #2C3C54;

// DIVS Y CONTENIDOS MAS CLAROS #2C3C54
$darkBlue: #252c48;

// HEADER DE TABLAS Y OTROS
$blueLight: #2D3A5D;

// AZUL DEL MENU
$lightDark: #3C4858;

// AZUL DE MODALES
$blueBlond: #172b4d;

// BLANCO
$white: #ffffff;

// Semi Blanco
$white50: #bbbdc8;

// TEXTO DE TABLAS
$textTables: #A3ABC1;

// NEGRO
$black: #000;

// AZUL OSUCURO
$blue: #36465E;

// AZUL DEL HEADER
$lightBlue: #4D6488;

// GRIS DEL FOOTER
$grayDark: #31373D;

// COLOR DE LOS PLACEHOLDER
$place: #8E93A1;
    
$bluev: #007bff;

$indigo: #6610f2;

$purple: #6f42c1;

$pink: #e83e8c;

$red: #dc3545;

$orange: #fd7e14;

$pastel: #dc6d6e;

$yellow: #ffc107;

$green: #28a745;

$teal: #20c997;

$cyan: #6cb2eb;

$white: #fff;

$gray: #868e96;

$gray-dark: #343a40;

$primary: #007bff;

$secondary: #868e96;

$success: #28a745;

$info: #17a2b8;

$warning: #ffc107;

$danger: #dc3545;

$light: #f8f9fa;

//$darkGray: #343a40;
