@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wfnu4r');
  src:  url('fonts/icomoon.eot?wfnu4r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wfnu4r') format('truetype'),
    url('fonts/icomoon.woff?wfnu4r') format('woff'),
    url('fonts/icomoon.svg?wfnu4r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brand:before {
  content: "\e900";
  color: #0099e5;
}
.icon-brand2:before {
  content: "\e901";
  color: #044a75;
}
.icon-brand3:before {
  content: "\e902";
  color: #0085ca;
}
.icon-brand4:before {
  content: "\e903";
  color: #ff2d55;
}
.icon-brand5:before {
  content: "\e904";
  color: #ff5a5f;
}
.icon-brand6:before {
  content: "\e905";
  color: #f90;
}
.icon-brand7:before {
  content: "\e906";
  color: #2e77bc;
}
.icon-brand8:before {
  content: "\e907";
  color: #a4c639;
}
.icon-brand9:before {
  content: "\e908";
  color: #999;
}
.icon-brand10:before {
  content: "\e909";
}
.icon-brand11:before {
  content: "\e90a";
}
.icon-brand12:before {
  content: "\e90b";
  color: #eb5424;
}
.icon-brand13:before {
  content: "\e90c";
  color: #7d8084;
}
.icon-brand14:before {
  content: "\e90d";
  color: #2319dc;
}
.icon-brand15:before {
  content: "\e90e";
  color: #408294;
}
.icon-brand16:before {
  content: "\e90f";
  color: #6c6;
}
.icon-brand17:before {
  content: "\e910";
  color: #00a3e0;
}
.icon-brand18:before {
  content: "\e911";
  color: #de484a;
}
.icon-brand19:before {
  content: "\e912";
  color: #1769ff;
}
.icon-brand20:before {
  content: "\e913";
}
.icon-brand21:before {
  content: "\e914";
  color: #008373;
}
.icon-brand22:before {
  content: "\e915";
  color: #205081;
}
.icon-brand23:before {
  content: "\e916";
  color: #f7931a;
}
.icon-brand24:before {
  content: "\e917";
  color: #ee6123;
}
.icon-brand25:before {
  content: "\e918";
  color: #f38936;
}
.icon-brand26:before {
  content: "\e919";
  color: #563d7c;
}
.icon-brand27:before {
  content: "\e91a";
  color: #0aa0ff;
}
.icon-brand28:before {
  content: "\e91b";
}
.icon-brand29:before {
  content: "\e91c";
  color: #e32;
}
.icon-brand30:before {
  content: "\e91d";
  color: #d33c43;
}
.icon-brand31:before {
  content: "\e91e";
  color: #19a9e5;
}
.icon-brand32:before {
  content: "\e91f";
}
.icon-brand33:before {
  content: "\e920";
  color: #204056;
}
.icon-brand34:before {
  content: "\e921";
  color: #1f8acb;
}
.icon-brand35:before {
  content: "\e922";
}
.icon-brand36:before {
  content: "\e923";
}
.icon-brand37:before {
  content: "\e924";
  color: #3e8dcc;
}
.icon-brand38:before {
  content: "\e925";
  color: #4cadc0;
}
.icon-brand39:before {
  content: "\e926";
  color: #4574e0;
}
.icon-brand40:before {
  content: "\e927";
  color: #00aaef;
}
.icon-brand41:before {
  content: "\e928";
  color: #414959;
}
.icon-brand42:before {
  content: "\e929";
  color: #00a1cc;
}
.icon-brand43:before {
  content: "\e92a";
  color: #757575;
}
.icon-brand44:before {
  content: "\e92b";
  color: #1572b6;
}
.icon-brand45:before {
  content: "\e92c";
  color: #f43059;
}
.icon-brand46:before {
  content: "\e92d";
  color: #0066dc;
}
.icon-brand47:before {
  content: "\e92e";
  color: #00c7f2;
}
.icon-brand48:before {
  content: "\e92f";
  color: #39f;
}
.icon-brand49:before {
  content: "\e930";
  color: #2d72d9;
}
.icon-brand50:before {
  content: "\e931";
  color: #05cc47;
}
.icon-brand51:before {
  content: "\e932";
}
.icon-brand52:before {
  content: "\e933";
}
.icon-brand53:before {
  content: "\e934";
  color: #0080ff;
}
.icon-brand54:before {
  content: "\e935";
  color: #7289da;
}
.icon-brand55:before {
  content: "\e936";
  color: #ff6000;
}
.icon-brand56:before {
  content: "\e937";
  color: #2e9fff;
}
.icon-brand57:before {
  content: "\e938";
  color: #1488c6;
}
.icon-brand58:before {
  content: "\e939";
  color: #f60;
}
.icon-brand59:before {
  content: "\e93a";
  color: #ea4c89;
}
.icon-brand60:before {
  content: "\e93b";
  color: #007ee5;
}
.icon-brand61:before {
  content: "\e93c";
  color: #0678be;
}
.icon-brand62:before {
  content: "\e93d";
  color: #e53238;
}
.icon-brand63:before {
  content: "\e93e";
}
.icon-brand64:before {
  content: "\e93f";
  color: #72be50;
}
.icon-brand65:before {
  content: "\e940";
}
.icon-brand66:before {
  content: "\e941";
  color: #f45800;
}
.icon-brand67:before {
  content: "\e942";
  color: #f6682f;
}
.icon-brand68:before {
  content: "\e943";
  color: #5ab552;
}
.icon-brand69:before {
  content: "\e944";
  color: #2dbe60;
}
.icon-brand70:before {
  content: "\e945";
  color: #fa4b32;
}
.icon-brand71:before {
  content: "\e946";
  color: #3b5998;
}
.icon-brand72:before {
  content: "\e947";
  color: #6cc655;
}
.icon-brand73:before {
  content: "\e948";
  color: #00b0b9;
}
.icon-brand74:before {
  content: "\e949";
  color: #0063dc;
}
.icon-brand75:before {
  content: "\e94a";
  color: #e12828;
}
.icon-brand76:before {
  content: "\e94b";
  color: #f94877;
}
.icon-brand77:before {
  content: "\e94c";
  color: #060;
}
.icon-brand78:before {
  content: "\e94d";
  color: #007cc3;
}
.icon-brand79:before {
  content: "\e94e";
  color: #396;
}
.icon-brand80:before {
  content: "\e94f";
  color: #8cc63f;
}
.icon-brand81:before {
  content: "\e950";
  color: #467126;
}
.icon-brand82:before {
  content: "\e951";
  color: #718087;
}
.icon-brand83:before {
  content: "\e952";
  color: #f14e32;
}
.icon-brand84:before {
  content: "\e953";
}
.icon-brand85:before {
  content: "\e954";
  color: #e24329;
}
.icon-brand86:before {
  content: "\e955";
  color: #ff0064;
}
.icon-brand87:before {
  content: "\e956";
  color: #7cb228;
}
.icon-brand88:before {
  content: "\e957";
  color: #d14836;
}
.icon-brand89:before {
  content: "\e958";
  color: #fbbf00;
}
.icon-brand90:before {
  content: "\e959";
  color: #630;
}
.icon-brand91:before {
  content: "\e95a";
  color: #4285f4;
}
.icon-brand92:before {
  content: "\e95b";
  color: #ffc107;
}
.icon-brand93:before {
  content: "\e95c";
  color: #4386fc;
}
.icon-brand94:before {
  content: "\e95d";
  color: #0c9d58;
}
.icon-brand95:before {
  content: "\e95e";
  color: #607d8b;
}
.icon-brand96:before {
  content: "\e95f";
  color: #dc4e41;
}
.icon-brand97:before {
  content: "\e960";
  color: #005ea5;
}
.icon-brand98:before {
  content: "\e961";
  color: #630;
}
.icon-brand99:before {
  content: "\e962";
}
.icon-brand100:before {
  content: "\e963";
  color: #1e8cbe;
}
.icon-brand101:before {
  content: "\e964";
  color: #da4648;
}
.icon-brand102:before {
  content: "\e965";
  color: #72ef36;
}
.icon-brand103:before {
  content: "\e966";
  color: #2ec866;
}
.icon-brand104:before {
  content: "\e967";
  color: #1bacf7;
}
.icon-brand105:before {
  content: "\e968";
  color: #00a4de;
}
.icon-brand106:before {
  content: "\e969";
  color: #430098;
}
.icon-brand107:before {
  content: "\e96a";
  color: #205281;
}
.icon-brand108:before {
  content: "\e96b";
}
.icon-brand109:before {
  content: "\e96c";
  color: #7ac142;
}
.icon-brand110:before {
  content: "\e96d";
  color: #e34f26;
}
.icon-brand111:before {
  content: "\e96e";
  color: #6a3;
}
.icon-brand112:before {
  content: "\e96f";
  color: #0071ce;
}
.icon-brand113:before {
  content: "\e970";
  color: #e6b91e;
}
.icon-brand114:before {
  content: "\e971";
  color: #43b02a;
}
.icon-brand115:before {
  content: "\e972";
  color: #e4405f;
}
.icon-brand116:before {
  content: "\e973";
}
.icon-brand117:before {
  content: "\e974";
  color: #1f8ded;
}
.icon-brand118:before {
  content: "\e975";
  color: #f36;
}
.icon-brand119:before {
  content: "\e976";
  color: #f7df1e;
}
.icon-brand120:before {
  content: "\e977";
  color: #c00;
}
.icon-brand121:before {
  content: "\e978";
  color: #d24939;
}
.icon-brand122:before {
  content: "\e979";
}
.icon-brand123:before {
  content: "\e97a";
  color: #5091cd;
}
.icon-brand124:before {
  content: "\e97b";
  color: #4679a4;
}
.icon-brand125:before {
  content: "\e97c";
}
.icon-brand126:before {
  content: "\e97d";
  color: #ad29b6;
}
.icon-brand127:before {
  content: "\e97e";
  color: #20beff;
}
.icon-brand128:before {
  content: "\e97f";
  color: #9db63b;
}
.icon-brand129:before {
  content: "\e980";
  color: #2bde73;
}
.icon-brand130:before {
  content: "\e981";
  color: #82bc23;
}
.icon-brand131:before {
  content: "\e982";
  color: #ff0100;
}
.icon-brand132:before {
  content: "\e983";
  color: #e44600;
}
.icon-brand133:before {
  content: "\e984";
  color: #00b057;
}
.icon-brand134:before {
  content: "\e985";
  color: #3c80ca;
}
.icon-brand135:before {
  content: "\e986";
  color: #e74430;
}
.icon-brand136:before {
  content: "\e987";
  color: #d51007;
}
.icon-brand137:before {
  content: "\e988";
  color: #f8c300;
}
.icon-brand138:before {
  content: "\e989";
  color: #00c300;
}
.icon-brand139:before {
  content: "\e98a";
  color: #0077b5;
}
.icon-brand140:before {
  content: "\e98b";
  color: #009bee;
}
.icon-brand141:before {
  content: "\e98c";
  color: #00b0ea;
}
.icon-brand142:before {
  content: "\e98d";
  color: #cf202e;
}
.icon-brand143:before {
  content: "\e98e";
  color: #e11a2b;
}
.icon-brand144:before {
  content: "\e98f";
  color: #ee672f;
}
.icon-brand145:before {
  content: "\e990";
  color: #2c9ab7;
}
.icon-brand146:before {
  content: "\e991";
  color: #ff1e0d;
}
.icon-brand147:before {
  content: "\e992";
  color: #eb001b;
}
.icon-brand148:before {
  content: "\e993";
}
.icon-brand149:before {
  content: "\e994";
}
.icon-brand150:before {
  content: "\e995";
  color: #00ab6b;
}
.icon-brand151:before {
  content: "\e996";
  color: #e2373c;
}
.icon-brand152:before {
  content: "\e997";
  color: #0084ff;
}
.icon-brand153:before {
  content: "\e998";
  color: #f00;
}
.icon-brand154:before {
  content: "\e999";
  color: #666;
}
.icon-brand155:before {
  content: "\e99a";
  color: #ba141a;
}
.icon-brand156:before {
  content: "\e99b";
  color: #217346;
}
.icon-brand157:before {
  content: "\e99c";
  color: #80397b;
}
.icon-brand158:before {
  content: "\e99d";
  color: #0072c6;
}
.icon-brand159:before {
  content: "\e99e";
  color: #d24726;
}
.icon-brand160:before {
  content: "\e99f";
  color: #2b579a;
}
.icon-brand161:before {
  content: "\e9a0";
  color: #62b74a;
}
.icon-brand162:before {
  content: "\e9a1";
  color: #3abfe6;
}
.icon-brand163:before {
  content: "\e9a2";
  color: #314359;
}
.icon-brand164:before {
  content: "\e9a3";
  color: #f60;
}
.icon-brand165:before {
  content: "\e9a4";
  color: #ffc619;
}
.icon-brand166:before {
  content: "\e9a5";
  color: #fdb22a;
}
.icon-brand167:before {
  content: "\e9a6";
  color: #00945e;
}
.icon-brand168:before {
  content: "\e9a7";
}
.icon-brand169:before {
  content: "\e9a8";
  color: #e50914;
}
.icon-brand170:before {
  content: "\e9a9";
  color: #8f8f8f;
}
.icon-brand171:before {
  content: "\e9aa";
}
.icon-brand172:before {
  content: "\e9ab";
}
.icon-brand173:before {
  content: "\e9ac";
  color: #f4731c;
}
.icon-brand174:before {
  content: "\e9ad";
  color: #094ab2;
}
.icon-brand175:before {
  content: "\e9ae";
  color: #ff1b2d;
}
.icon-brand176:before {
  content: "\e9af";
  color: #f56c2d;
}
.icon-brand177:before {
  content: "\e9b0";
  color: #fc7e0f;
}
.icon-brand178:before {
  content: "\e9b1";
  color: #123f6d;
}
.icon-brand179:before {
  content: "\e9b2";
}
.icon-brand180:before {
  content: "\e9b3";
  color: #e6461a;
}
.icon-brand181:before {
  content: "\e9b4";
  color: #00457c;
}
.icon-brand182:before {
  content: "\e9b5";
  color: #40a4c4;
}
.icon-brand183:before {
  content: "\e9b6";
}
.icon-brand184:before {
  content: "\e9b7";
  color: #fff000;
}
.icon-brand185:before {
  content: "\e9b8";
  color: #00b1ab;
}
.icon-brand186:before {
  content: "\e9b9";
  color: #bd081c;
}
.icon-brand187:before {
  content: "\e9ba";
  color: #0085de;
}
.icon-brand188:before {
  content: "\e9bb";
  color: #c0379a;
}
.icon-brand189:before {
  content: "\e9bc";
  color: #039;
}
.icon-brand190:before {
  content: "\e9bd";
  color: #e9443d;
}
.icon-brand191:before {
  content: "\e9be";
  color: #ef3f56;
}
.icon-brand192:before {
  content: "\e9bf";
  color: #93c;
}
.icon-brand193:before {
  content: "\e9c0";
  color: #ef145f;
}
.icon-brand194:before {
  content: "\e9c1";
  color: #da552f;
}
.icon-brand195:before {
  content: "\e9c2";
  color: #34a7c1;
}
.icon-brand196:before {
  content: "\e9c3";
  color: #9497ce;
}
.icon-brand197:before {
  content: "\e9c4";
  color: #c50000;
}
.icon-brand198:before {
  content: "\e9c5";
  color: #b92b27;
}
.icon-brand199:before {
  content: "\e9c6";
  color: #c7053d;
}
.icon-brand200:before {
  content: "\e9c7";
  color: #008fd5;
}
.icon-brand201:before {
  content: "\e9c8";
  color: #00d8ff;
}
.icon-brand202:before {
  content: "\e9c9";
  color: #900;
}
.icon-brand203:before {
  content: "\e9ca";
  color: #8ca1af;
}
.icon-brand204:before {
  content: "\e9cb";
  color: #ff4500;
}
.icon-brand205:before {
  content: "\e9cc";
  color: #e43526;
}
.icon-brand206:before {
  content: "\e9cd";
  color: #ffa500;
}
.icon-brand207:before {
  content: "\e9ce";
  color: #cc342d;
}
.icon-brand208:before {
  content: "\e9cf";
  color: #2dc9d7;
}
.icon-brand209:before {
  content: "\e9d0";
  color: #c69;
}
.icon-brand210:before {
  content: "\e9d1";
  color: #ec4047;
}
.icon-brand211:before {
  content: "\e9d2";
  color: #1a7bba;
}
.icon-brand212:before {
  content: "\e9d3";
  color: #0089cf;
}
.icon-brand213:before {
  content: "\e9d4";
  color: #21b352;
}
.icon-brand214:before {
  content: "\e9d5";
}
.icon-brand215:before {
  content: "\e9d6";
  color: #fb4226;
}
.icon-brand216:before {
  content: "\e9d7";
  color: #e7282d;
}
.icon-brand217:before {
  content: "\e9d8";
  color: #7ab55c;
}
.icon-brand218:before {
  content: "\e9d9";
}
.icon-brand219:before {
  content: "\e9da";
  color: #e6162d;
}
.icon-brand220:before {
  content: "\e9db";
  color: #258aaf;
}
.icon-brand221:before {
  content: "\e9dc";
  color: #2fcea0;
}
.icon-brand222:before {
  content: "\e9dd";
  color: #00aff0;
}
.icon-brand223:before {
  content: "\e9de";
  color: #56b68b;
}
.icon-brand224:before {
  content: "\e9df";
  color: #026664;
}
.icon-brand225:before {
  content: "\e9e0";
  color: #e4637c;
}
.icon-brand226:before {
  content: "\e9e1";
  color: #e85c33;
}
.icon-brand227:before {
  content: "\e9e2";
  color: #fffc00;
}
.icon-brand228:before {
  content: "\e9e3";
  color: #f80046;
}
.icon-brand229:before {
  content: "\e9e4";
  color: #f30;
}
.icon-brand230:before {
  content: "\e9e5";
  color: #fa6423;
}
.icon-brand231:before {
  content: "\e9e6";
  color: #396;
}
.icon-brand232:before {
  content: "\e9e7";
  color: #1ed760;
}
.icon-brand233:before {
  content: "\e9e8";
  color: #352a71;
}
.icon-brand234:before {
  content: "\e9e9";
  color: #f5c300;
}
.icon-brand235:before {
  content: "\e9ea";
}
.icon-brand236:before {
  content: "\e9eb";
  color: #1e5397;
}
.icon-brand237:before {
  content: "\e9ec";
  color: #fe7a16;
}
.icon-brand238:before {
  content: "\e9ed";
}
.icon-brand239:before {
  content: "\e9ee";
}
.icon-brand240:before {
  content: "\e9ef";
  color: #4ba2f2;
}
.icon-brand241:before {
  content: "\e9f0";
}
.icon-brand242:before {
  content: "\e9f1";
  color: #3a98d9;
}
.icon-brand243:before {
  content: "\e9f2";
  color: #008cdd;
}
.icon-brand244:before {
  content: "\e9f3";
  color: #003168;
}
.icon-brand245:before {
  content: "\e9f4";
  color: #eb4924;
}
.icon-brand246:before {
  content: "\e9f5";
}
.icon-brand247:before {
  content: "\e9f6";
  color: #809cc9;
}
.icon-brand248:before {
  content: "\e9f7";
  color: #2eace3;
}
.icon-brand249:before {
  content: "\e9f8";
  color: #fbb631;
}
.icon-brand250:before {
  content: "\e9f9";
  color: #e62b1e;
}
.icon-brand251:before {
  content: "\e9fa";
  color: #39ace6;
}
.icon-brand252:before {
  content: "\e9fb";
  color: #2ca5e0;
}
.icon-brand253:before {
  content: "\e9fc";
  color: #12b7f5;
}
.icon-brand254:before {
  content: "\e9fd";
  color: #c00;
}
.icon-brand255:before {
  content: "\e9fe";
  color: #ff6b6b;
}
.icon-brand256:before {
  content: "\e9ff";
  color: #c5000b;
}
.icon-brand257:before {
  content: "\ea00";
  color: #29a8e0;
}
.icon-brand258:before {
  content: "\ea01";
  color: #3863a0;
}
.icon-brand259:before {
  content: "\ea02";
  color: #ed1c24;
}
.icon-brand260:before {
  content: "\ea03";
  color: #39a85b;
}
.icon-brand261:before {
  content: "\ea04";
  color: #5fcf80;
}
.icon-brand262:before {
  content: "\ea05";
  color: #0079bf;
}
.icon-brand263:before {
  content: "\ea06";
  color: #589442;
}
.icon-brand264:before {
  content: "\ea07";
  color: #53b50a;
}
.icon-brand265:before {
  content: "\ea08";
  color: #36465d;
}
.icon-brand266:before {
  content: "\ea09";
  color: #f22f46;
}
.icon-brand267:before {
  content: "\ea0a";
  color: #6441a5;
}
.icon-brand268:before {
  content: "\ea0b";
  color: #1da1f2;
}
.icon-brand269:before {
  content: "\ea0c";
  color: #ff7102;
}
.icon-brand270:before {
  content: "\ea0d";
}
.icon-brand271:before {
  content: "\ea0e";
  color: #dd4814;
}
.icon-brand272:before {
  content: "\ea0f";
  color: #01b3e3;
}
.icon-brand273:before {
  content: "\ea10";
  color: #2396f3;
}
.icon-brand274:before {
  content: "\ea11";
  color: #6fda44;
}
.icon-brand275:before {
  content: "\ea12";
  color: #f88d2d;
}
.icon-brand276:before {
  content: "\ea13";
  color: #7c529e;
}
.icon-brand277:before {
  content: "\ea14";
  color: #1ab7ea;
}
.icon-brand278:before {
  content: "\ea15";
  color: #11b48a;
}
.icon-brand279:before {
  content: "\ea16";
  color: #0093da;
}
.icon-brand280:before {
  content: "\ea17";
  color: #142787;
}
.icon-brand281:before {
  content: "\ea18";
  color: #6383a8;
}
.icon-brand282:before {
  content: "\ea19";
  color: #4fc08d;
}
.icon-brand283:before {
  content: "\ea1a";
  color: #7bb32e;
}
.icon-brand284:before {
  content: "\ea1b";
  color: #25d366;
}
.icon-brand285:before {
  content: "\ea1c";
}
.icon-brand286:before {
  content: "\ea1d";
  color: #0078d6;
}
.icon-brand287:before {
  content: "\ea1e";
}
.icon-brand288:before {
  content: "\ea1f";
  color: #ffc233;
}
.icon-brand289:before {
  content: "\ea20";
  color: #21759b;
}
.icon-brand290:before {
  content: "\ea21";
  color: #107c10;
}
.icon-brand291:before {
  content: "\ea22";
  color: #13b5ea;
}
.icon-brand292:before {
  content: "\ea23";
  color: #005a5f;
}
.icon-brand293:before {
  content: "\ea24";
  color: #409;
}
.icon-brand294:before {
  content: "\ea25";
  color: #0072c6;
}
.icon-brand295:before {
  content: "\ea26";
  color: #f0652f;
}
.icon-brand296:before {
  content: "\ea27";
  color: #c41200;
}
.icon-brand297:before {
  content: "\ea28";
  color: #cd201f;
}
.icon-brand298:before {
  content: "\ea29";
  color: #ff4a00;
}
.icon-brand299:before {
  content: "\ea2a";
}
.icon-brand300:before {
  content: "\ea2b";
}
.icon-brand301:before {
  content: "\ea2c";
  color: #0074e4;
}
.icon-home:before {
  content: "\ea2d";
}
.icon-home2:before {
  content: "\ea2e";
}
.icon-home3:before {
  content: "\ea2f";
}
.icon-office:before {
  content: "\ea30";
}
.icon-newspaper:before {
  content: "\ea31";
}
.icon-pencil:before {
  content: "\ea32";
}
.icon-pencil2:before {
  content: "\ea33";
}
.icon-quill:before {
  content: "\ea34";
}
.icon-pen:before {
  content: "\ea35";
}
.icon-blog:before {
  content: "\ea36";
}
.icon-eyedropper:before {
  content: "\ea37";
}
.icon-droplet:before {
  content: "\ea38";
}
.icon-paint-format:before {
  content: "\ea39";
}
.icon-image:before {
  content: "\ea3a";
}
.icon-images:before {
  content: "\ea3b";
}
.icon-camera:before {
  content: "\ea3c";
}
.icon-headphones:before {
  content: "\ea3d";
}
.icon-music:before {
  content: "\ea3e";
}
.icon-play:before {
  content: "\ea3f";
}
.icon-film:before {
  content: "\ea40";
}
.icon-video-camera:before {
  content: "\ea41";
}
.icon-dice:before {
  content: "\ea42";
}
.icon-pacman:before {
  content: "\ea43";
}
.icon-spades:before {
  content: "\ea44";
}
.icon-clubs:before {
  content: "\ea45";
}
.icon-diamonds:before {
  content: "\ea46";
}
.icon-bullhorn:before {
  content: "\ea47";
}
.icon-connection:before {
  content: "\ea48";
}
.icon-podcast:before {
  content: "\ea49";
}
.icon-feed:before {
  content: "\ea4a";
}
.icon-mic:before {
  content: "\ea4b";
}
.icon-book:before {
  content: "\ea4c";
}
.icon-books:before {
  content: "\ea4d";
}
.icon-library:before {
  content: "\ea4e";
}
.icon-file-text:before {
  content: "\ea4f";
}
.icon-profile:before {
  content: "\ea50";
}
.icon-file-empty:before {
  content: "\ea51";
}
.icon-files-empty:before {
  content: "\ea52";
}
.icon-file-text2:before {
  content: "\ea53";
}
.icon-file-picture:before {
  content: "\ea54";
}
.icon-file-music:before {
  content: "\ea55";
}
.icon-file-play:before {
  content: "\ea56";
}
.icon-file-video:before {
  content: "\ea57";
}
.icon-file-zip:before {
  content: "\ea58";
}
.icon-copy:before {
  content: "\ea59";
}
.icon-paste:before {
  content: "\ea5a";
}
.icon-stack:before {
  content: "\ea5b";
}
.icon-folder:before {
  content: "\ea5c";
}
.icon-folder-open:before {
  content: "\ea5d";
}
.icon-folder-plus:before {
  content: "\ea5e";
}
.icon-folder-minus:before {
  content: "\ea5f";
}
.icon-folder-download:before {
  content: "\ea60";
}
.icon-folder-upload:before {
  content: "\ea61";
}
.icon-price-tag:before {
  content: "\ea62";
}
.icon-price-tags:before {
  content: "\ea63";
}
.icon-barcode:before {
  content: "\ea64";
}
.icon-qrcode:before {
  content: "\ea65";
}
.icon-ticket:before {
  content: "\ea66";
}
.icon-cart:before {
  content: "\ea67";
}
.icon-coin-dollar:before {
  content: "\ea68";
}
.icon-coin-euro:before {
  content: "\ea69";
}
.icon-coin-pound:before {
  content: "\ea6a";
}
.icon-coin-yen:before {
  content: "\ea6b";
}
.icon-credit-card:before {
  content: "\ea6c";
}
.icon-calculator:before {
  content: "\ea6d";
}
.icon-lifebuoy:before {
  content: "\ea6e";
}
.icon-phone:before {
  content: "\ea6f";
}
.icon-phone-hang-up:before {
  content: "\ea70";
}
.icon-address-book:before {
  content: "\ea71";
}
.icon-envelop:before {
  content: "\ea72";
}
.icon-pushpin:before {
  content: "\ea73";
}
.icon-location:before {
  content: "\ea74";
}
.icon-location2:before {
  content: "\ea75";
}
.icon-compass:before {
  content: "\ea76";
}
.icon-compass2:before {
  content: "\ea77";
}
.icon-map:before {
  content: "\ea78";
}
.icon-map2:before {
  content: "\ea79";
}
.icon-history:before {
  content: "\ea7a";
}
.icon-clock:before {
  content: "\ea7b";
}
.icon-clock2:before {
  content: "\ea7c";
}
.icon-alarm:before {
  content: "\ea7d";
}
.icon-bell:before {
  content: "\ea7e";
}
.icon-stopwatch:before {
  content: "\ea7f";
}
.icon-calendar:before {
  content: "\ea80";
}
.icon-printer:before {
  content: "\ea81";
}
.icon-keyboard:before {
  content: "\ea82";
}
.icon-display:before {
  content: "\ea83";
}
.icon-laptop:before {
  content: "\ea84";
}
.icon-mobile:before {
  content: "\ea85";
}
.icon-mobile2:before {
  content: "\ea86";
}
.icon-tablet:before {
  content: "\ea87";
}
.icon-tv:before {
  content: "\ea88";
}
.icon-drawer:before {
  content: "\ea89";
}
.icon-drawer2:before {
  content: "\ea8a";
}
.icon-box-add:before {
  content: "\ea8b";
}
.icon-box-remove:before {
  content: "\ea8c";
}
.icon-download:before {
  content: "\ea8d";
}
.icon-upload:before {
  content: "\ea8e";
}
.icon-floppy-disk:before {
  content: "\ea8f";
}
.icon-drive:before {
  content: "\ea90";
}
.icon-database:before {
  content: "\ea91";
}
.icon-undo:before {
  content: "\ea92";
}
.icon-redo:before {
  content: "\ea93";
}
.icon-undo2:before {
  content: "\ea94";
}
.icon-redo2:before {
  content: "\ea95";
}
.icon-forward:before {
  content: "\ea96";
}
.icon-reply:before {
  content: "\ea97";
}
.icon-bubble:before {
  content: "\ea98";
}
.icon-bubbles:before {
  content: "\ea99";
}
.icon-bubbles2:before {
  content: "\ea9a";
}
.icon-bubble2:before {
  content: "\ea9b";
}
.icon-bubbles3:before {
  content: "\ea9c";
}
.icon-bubbles4:before {
  content: "\ea9d";
}
.icon-user:before {
  content: "\ea9e";
}
.icon-users:before {
  content: "\ea9f";
}
.icon-user-plus:before {
  content: "\eaa0";
}
.icon-user-minus:before {
  content: "\eaa1";
}
.icon-user-check:before {
  content: "\eaa2";
}
.icon-user-tie:before {
  content: "\eaa3";
}
.icon-quotes-left:before {
  content: "\eaa4";
}
.icon-quotes-right:before {
  content: "\eaa5";
}
.icon-hour-glass:before {
  content: "\eaa6";
}
.icon-spinner:before {
  content: "\eaa7";
}
.icon-spinner2:before {
  content: "\eaa8";
}
.icon-spinner3:before {
  content: "\eaa9";
}
.icon-spinner4:before {
  content: "\eaaa";
}
.icon-spinner5:before {
  content: "\eaab";
}
.icon-spinner6:before {
  content: "\eaac";
}
.icon-spinner7:before {
  content: "\eaad";
}
.icon-spinner8:before {
  content: "\eaae";
}
.icon-spinner9:before {
  content: "\eaaf";
}
.icon-spinner10:before {
  content: "\eab0";
}
.icon-spinner11:before {
  content: "\eab1";
}
.icon-binoculars:before {
  content: "\eab2";
}
.icon-search:before {
  content: "\eab3";
}
.icon-zoom-in:before {
  content: "\eab4";
}
.icon-zoom-out:before {
  content: "\eab5";
}
.icon-enlarge:before {
  content: "\eab6";
}
.icon-shrink:before {
  content: "\eab7";
}
.icon-enlarge2:before {
  content: "\eab8";
}
.icon-shrink2:before {
  content: "\eab9";
}
.icon-key:before {
  content: "\eaba";
}
.icon-key2:before {
  content: "\eabb";
}
.icon-lock:before {
  content: "\eabc";
}
.icon-unlocked:before {
  content: "\eabd";
}
.icon-wrench:before {
  content: "\eabe";
}
.icon-equalizer:before {
  content: "\eabf";
}
.icon-equalizer2:before {
  content: "\eac0";
}
.icon-cog:before {
  content: "\eac1";
}
.icon-cogs:before {
  content: "\eac2";
}
.icon-hammer:before {
  content: "\eac3";
}
.icon-magic-wand:before {
  content: "\eac4";
}
.icon-aid-kit:before {
  content: "\eac5";
}
.icon-bug:before {
  content: "\eac6";
}
.icon-pie-chart:before {
  content: "\eac7";
}
.icon-stats-dots:before {
  content: "\eac8";
}
.icon-stats-bars:before {
  content: "\eac9";
}
.icon-stats-bars2:before {
  content: "\eaca";
}
.icon-trophy:before {
  content: "\eacb";
}
.icon-gift:before {
  content: "\eacc";
}
.icon-glass:before {
  content: "\eacd";
}
.icon-glass2:before {
  content: "\eace";
}
.icon-mug:before {
  content: "\eacf";
}
.icon-spoon-knife:before {
  content: "\ead0";
}
.icon-leaf:before {
  content: "\ead1";
}
.icon-rocket:before {
  content: "\ead2";
}
.icon-meter:before {
  content: "\ead3";
}
.icon-meter2:before {
  content: "\ead4";
}
.icon-hammer2:before {
  content: "\ead5";
}
.icon-fire:before {
  content: "\ead6";
}
.icon-lab:before {
  content: "\ead7";
}
.icon-magnet:before {
  content: "\ead8";
}
.icon-bin:before {
  content: "\ead9";
}
.icon-bin2:before {
  content: "\eada";
}
.icon-briefcase:before {
  content: "\eadb";
}
.icon-airplane:before {
  content: "\eadc";
}
.icon-truck:before {
  content: "\eadd";
}
.icon-road:before {
  content: "\eade";
}
.icon-accessibility:before {
  content: "\eadf";
}
.icon-target:before {
  content: "\eae0";
}
.icon-shield:before {
  content: "\eae1";
}
.icon-power:before {
  content: "\eae2";
}
.icon-switch:before {
  content: "\eae3";
}
.icon-power-cord:before {
  content: "\eae4";
}
.icon-clipboard:before {
  content: "\eae5";
}
.icon-list-numbered:before {
  content: "\eae6";
}
.icon-list:before {
  content: "\eae7";
}
.icon-list2:before {
  content: "\eae8";
}
.icon-tree:before {
  content: "\eae9";
}
.icon-menu:before {
  content: "\eaea";
}
.icon-menu2:before {
  content: "\eaeb";
}
.icon-menu3:before {
  content: "\eaec";
}
.icon-menu4:before {
  content: "\eaed";
}
.icon-cloud:before {
  content: "\eaee";
}
.icon-cloud-download:before {
  content: "\eaef";
}
.icon-cloud-upload:before {
  content: "\eaf0";
}
.icon-cloud-check:before {
  content: "\eaf1";
}
.icon-download2:before {
  content: "\eaf2";
}
.icon-upload2:before {
  content: "\eaf3";
}
.icon-download3:before {
  content: "\eaf4";
}
.icon-upload3:before {
  content: "\eaf5";
}
.icon-sphere:before {
  content: "\eaf6";
}
.icon-earth:before {
  content: "\eaf7";
}
.icon-link:before {
  content: "\eaf8";
}
.icon-flag:before {
  content: "\eaf9";
}
.icon-attachment:before {
  content: "\eafa";
}
.icon-eye:before {
  content: "\eafb";
}
.icon-eye-plus:before {
  content: "\eafc";
}
.icon-eye-minus:before {
  content: "\eafd";
}
.icon-eye-blocked:before {
  content: "\eafe";
}
.icon-bookmark:before {
  content: "\eaff";
}
.icon-bookmarks:before {
  content: "\eb00";
}
.icon-sun:before {
  content: "\eb01";
}
.icon-contrast:before {
  content: "\eb02";
}
.icon-brightness-contrast:before {
  content: "\eb03";
}
.icon-star-empty:before {
  content: "\eb04";
}
.icon-star-half:before {
  content: "\eb05";
}
.icon-star-full:before {
  content: "\eb06";
}
.icon-heart:before {
  content: "\eb07";
}
.icon-heart-broken:before {
  content: "\eb08";
}
.icon-man:before {
  content: "\eb09";
}
.icon-woman:before {
  content: "\eb0a";
}
.icon-man-woman:before {
  content: "\eb0b";
}
.icon-happy:before {
  content: "\eb0c";
}
.icon-happy2:before {
  content: "\eb0d";
}
.icon-smile:before {
  content: "\eb0e";
}
.icon-smile2:before {
  content: "\eb0f";
}
.icon-tongue:before {
  content: "\eb10";
}
.icon-tongue2:before {
  content: "\eb11";
}
.icon-sad:before {
  content: "\eb12";
}
.icon-sad2:before {
  content: "\eb13";
}
.icon-wink:before {
  content: "\eb14";
}
.icon-wink2:before {
  content: "\eb15";
}
.icon-grin:before {
  content: "\eb16";
}
.icon-grin2:before {
  content: "\eb17";
}
.icon-cool:before {
  content: "\eb18";
}
.icon-cool2:before {
  content: "\eb19";
}
.icon-angry:before {
  content: "\eb1a";
}
.icon-angry2:before {
  content: "\eb1b";
}
.icon-evil:before {
  content: "\eb1c";
}
.icon-evil2:before {
  content: "\eb1d";
}
.icon-shocked:before {
  content: "\eb1e";
}
.icon-shocked2:before {
  content: "\eb1f";
}
.icon-baffled:before {
  content: "\eb20";
}
.icon-baffled2:before {
  content: "\eb21";
}
.icon-confused:before {
  content: "\eb22";
}
.icon-confused2:before {
  content: "\eb23";
}
.icon-neutral:before {
  content: "\eb24";
}
.icon-neutral2:before {
  content: "\eb25";
}
.icon-hipster:before {
  content: "\eb26";
}
.icon-hipster2:before {
  content: "\eb27";
}
.icon-wondering:before {
  content: "\eb28";
}
.icon-wondering2:before {
  content: "\eb29";
}
.icon-sleepy:before {
  content: "\eb2a";
}
.icon-sleepy2:before {
  content: "\eb2b";
}
.icon-frustrated:before {
  content: "\eb2c";
}
.icon-frustrated2:before {
  content: "\eb2d";
}
.icon-crying:before {
  content: "\eb2e";
}
.icon-crying2:before {
  content: "\eb2f";
}
.icon-point-up:before {
  content: "\eb30";
}
.icon-point-right:before {
  content: "\eb31";
}
.icon-point-down:before {
  content: "\eb32";
}
.icon-point-left:before {
  content: "\eb33";
}
.icon-warning:before {
  content: "\eb34";
}
.icon-notification:before {
  content: "\eb35";
}
.icon-question:before {
  content: "\eb36";
}
.icon-plus:before {
  content: "\eb37";
}
.icon-minus:before {
  content: "\eb38";
}
.icon-info:before {
  content: "\eb39";
}
.icon-cancel-circle:before {
  content: "\eb3a";
}
.icon-blocked:before {
  content: "\eb3b";
}
.icon-cross:before {
  content: "\eb3c";
}
.icon-checkmark:before {
  content: "\eb3d";
}
.icon-checkmark2:before {
  content: "\eb3e";
}
.icon-spell-check:before {
  content: "\eb3f";
}
.icon-enter:before {
  content: "\eb40";
}
.icon-exit:before {
  content: "\eb41";
}
.icon-play2:before {
  content: "\eb42";
}
.icon-pause:before {
  content: "\eb43";
}
.icon-stop:before {
  content: "\eb44";
}
.icon-previous:before {
  content: "\eb45";
}
.icon-next:before {
  content: "\eb46";
}
.icon-backward:before {
  content: "\eb47";
}
.icon-forward2:before {
  content: "\eb48";
}
.icon-play3:before {
  content: "\eb49";
}
.icon-pause2:before {
  content: "\eb4a";
}
.icon-stop2:before {
  content: "\eb4b";
}
.icon-backward2:before {
  content: "\eb4c";
}
.icon-forward3:before {
  content: "\eb4d";
}
.icon-first:before {
  content: "\eb4e";
}
.icon-last:before {
  content: "\eb4f";
}
.icon-previous2:before {
  content: "\eb50";
}
.icon-next2:before {
  content: "\eb51";
}
.icon-eject:before {
  content: "\eb52";
}
.icon-volume-high:before {
  content: "\eb53";
}
.icon-volume-medium:before {
  content: "\eb54";
}
.icon-volume-low:before {
  content: "\eb55";
}
.icon-volume-mute:before {
  content: "\eb56";
}
.icon-volume-mute2:before {
  content: "\eb57";
}
.icon-volume-increase:before {
  content: "\eb58";
}
.icon-volume-decrease:before {
  content: "\eb59";
}
.icon-loop:before {
  content: "\eb5a";
}
.icon-loop2:before {
  content: "\eb5b";
}
.icon-infinite:before {
  content: "\eb5c";
}
.icon-shuffle:before {
  content: "\eb5d";
}
.icon-arrow-up-left:before {
  content: "\eb5e";
}
.icon-arrow-up:before {
  content: "\eb5f";
}
.icon-arrow-up-right:before {
  content: "\eb60";
}
.icon-arrow-right:before {
  content: "\eb61";
}
.icon-arrow-down-right:before {
  content: "\eb62";
}
.icon-arrow-down:before {
  content: "\eb63";
}
.icon-arrow-down-left:before {
  content: "\eb64";
}
.icon-arrow-left:before {
  content: "\eb65";
}
.icon-arrow-up-left2:before {
  content: "\eb66";
}
.icon-arrow-up2:before {
  content: "\eb67";
}
.icon-arrow-up-right2:before {
  content: "\eb68";
}
.icon-arrow-right2:before {
  content: "\eb69";
}
.icon-arrow-down-right2:before {
  content: "\eb6a";
}
.icon-arrow-down2:before {
  content: "\eb6b";
}
.icon-arrow-down-left2:before {
  content: "\eb6c";
}
.icon-arrow-left2:before {
  content: "\eb6d";
}
.icon-circle-up:before {
  content: "\eb6e";
}
.icon-circle-right:before {
  content: "\eb6f";
}
.icon-circle-down:before {
  content: "\eb70";
}
.icon-circle-left:before {
  content: "\eb71";
}
.icon-tab:before {
  content: "\eb72";
}
.icon-move-up:before {
  content: "\eb73";
}
.icon-move-down:before {
  content: "\eb74";
}
.icon-sort-alpha-asc:before {
  content: "\eb75";
}
.icon-sort-alpha-desc:before {
  content: "\eb76";
}
.icon-sort-numeric-asc:before {
  content: "\eb77";
}
.icon-sort-numberic-desc:before {
  content: "\eb78";
}
.icon-sort-amount-asc:before {
  content: "\eb79";
}
.icon-sort-amount-desc:before {
  content: "\eb7a";
}
.icon-command:before {
  content: "\eb7b";
}
.icon-shift:before {
  content: "\eb7c";
}
.icon-ctrl:before {
  content: "\eb7d";
}
.icon-opt:before {
  content: "\eb7e";
}
.icon-checkbox-checked:before {
  content: "\eb7f";
}
.icon-checkbox-unchecked:before {
  content: "\eb80";
}
.icon-radio-checked:before {
  content: "\eb81";
}
.icon-radio-checked2:before {
  content: "\eb82";
}
.icon-radio-unchecked:before {
  content: "\eb83";
}
.icon-crop:before {
  content: "\eb84";
}
.icon-make-group:before {
  content: "\eb85";
}
.icon-ungroup:before {
  content: "\eb86";
}
.icon-scissors:before {
  content: "\eb87";
}
.icon-filter:before {
  content: "\eb88";
}
.icon-font:before {
  content: "\eb89";
}
.icon-ligature:before {
  content: "\eb8a";
}
.icon-ligature2:before {
  content: "\eb8b";
}
.icon-text-height:before {
  content: "\eb8c";
}
.icon-text-width:before {
  content: "\eb8d";
}
.icon-font-size:before {
  content: "\eb8e";
}
.icon-bold:before {
  content: "\eb8f";
}
.icon-underline:before {
  content: "\eb90";
}
.icon-italic:before {
  content: "\eb91";
}
.icon-strikethrough:before {
  content: "\eb92";
}
.icon-omega:before {
  content: "\eb93";
}
.icon-sigma:before {
  content: "\eb94";
}
.icon-page-break:before {
  content: "\eb95";
}
.icon-superscript:before {
  content: "\eb96";
}
.icon-subscript:before {
  content: "\eb97";
}
.icon-superscript2:before {
  content: "\eb98";
}
.icon-subscript2:before {
  content: "\eb99";
}
.icon-text-color:before {
  content: "\eb9a";
}
.icon-pagebreak:before {
  content: "\eb9b";
}
.icon-clear-formatting:before {
  content: "\eb9c";
}
.icon-table:before {
  content: "\eb9d";
}
.icon-table2:before {
  content: "\eb9e";
}
.icon-insert-template:before {
  content: "\eb9f";
}
.icon-pilcrow:before {
  content: "\eba0";
}
.icon-ltr:before {
  content: "\eba1";
}
.icon-rtl:before {
  content: "\eba2";
}
.icon-section:before {
  content: "\eba3";
}
.icon-paragraph-left:before {
  content: "\eba4";
}
.icon-paragraph-center:before {
  content: "\eba5";
}
.icon-paragraph-right:before {
  content: "\eba6";
}
.icon-paragraph-justify:before {
  content: "\eba7";
}
.icon-indent-increase:before {
  content: "\eba8";
}
.icon-indent-decrease:before {
  content: "\eba9";
}
.icon-share:before {
  content: "\ebaa";
}
.icon-new-tab:before {
  content: "\ebab";
}
.icon-embed:before {
  content: "\ebac";
}
.icon-embed2:before {
  content: "\ebad";
}
.icon-terminal:before {
  content: "\ebae";
}
.icon-share2:before {
  content: "\ebaf";
}
.icon-mail:before {
  content: "\ebb0";
}
.icon-mail2:before {
  content: "\ebb1";
}
.icon-mail3:before {
  content: "\ebb2";
}
.icon-mail4:before {
  content: "\ebb3";
}
.icon-amazon:before {
  content: "\ebb4";
}
.icon-google:before {
  content: "\ebb5";
}
.icon-google2:before {
  content: "\ebb6";
}
.icon-google3:before {
  content: "\ebb7";
}
.icon-google-plus:before {
  content: "\ebb8";
}
.icon-google-plus2:before {
  content: "\ebb9";
}
.icon-google-plus3:before {
  content: "\ebba";
}
.icon-hangouts:before {
  content: "\ebbb";
}
.icon-google-drive:before {
  content: "\ebbc";
}
.icon-facebook:before {
  content: "\ebbd";
}
.icon-facebook2:before {
  content: "\ebbe";
}
.icon-instagram:before {
  content: "\ebbf";
}
.icon-whatsapp:before {
  content: "\ebc0";
}
.icon-spotify:before {
  content: "\ebc1";
}
.icon-telegram:before {
  content: "\ebc2";
}
.icon-twitter:before {
  content: "\ebc3";
}
.icon-vine:before {
  content: "\ebc4";
}
.icon-vk:before {
  content: "\ebc5";
}
.icon-renren:before {
  content: "\ebc6";
}
.icon-sina-weibo:before {
  content: "\ebc7";
}
.icon-rss:before {
  content: "\ebc8";
}
.icon-rss2:before {
  content: "\ebc9";
}
.icon-youtube:before {
  content: "\ebca";
}
.icon-youtube2:before {
  content: "\ebcb";
}
.icon-twitch:before {
  content: "\ebcc";
}
.icon-vimeo:before {
  content: "\ebcd";
}
.icon-vimeo2:before {
  content: "\ebce";
}
.icon-lanyrd:before {
  content: "\ebcf";
}
.icon-flickr:before {
  content: "\ebd0";
}
.icon-flickr2:before {
  content: "\ebd1";
}
.icon-flickr3:before {
  content: "\ebd2";
}
.icon-flickr4:before {
  content: "\ebd3";
}
.icon-dribbble:before {
  content: "\ebd4";
}
.icon-behance:before {
  content: "\ebd5";
}
.icon-behance2:before {
  content: "\ebd6";
}
.icon-deviantart:before {
  content: "\ebd7";
}
.icon-500px:before {
  content: "\ebd8";
}
.icon-steam:before {
  content: "\ebd9";
}
.icon-steam2:before {
  content: "\ebda";
}
.icon-dropbox:before {
  content: "\ebdb";
}
.icon-onedrive:before {
  content: "\ebdc";
}
.icon-github:before {
  content: "\ebdd";
}
.icon-npm:before {
  content: "\ebde";
}
.icon-basecamp:before {
  content: "\ebdf";
}
.icon-trello:before {
  content: "\ebe0";
}
.icon-wordpress:before {
  content: "\ebe1";
}
.icon-joomla:before {
  content: "\ebe2";
}
.icon-ello:before {
  content: "\ebe3";
}
.icon-blogger:before {
  content: "\ebe4";
}
.icon-blogger2:before {
  content: "\ebe5";
}
.icon-tumblr:before {
  content: "\ebe6";
}
.icon-tumblr2:before {
  content: "\ebe7";
}
.icon-yahoo:before {
  content: "\ebe8";
}
.icon-yahoo2:before {
  content: "\ebe9";
}
.icon-tux:before {
  content: "\ebea";
}
.icon-appleinc:before {
  content: "\ebeb";
}
.icon-finder:before {
  content: "\ebec";
}
.icon-android:before {
  content: "\ebed";
}
.icon-windows:before {
  content: "\ebee";
}
.icon-windows8:before {
  content: "\ebef";
}
.icon-soundcloud:before {
  content: "\ebf0";
}
.icon-soundcloud2:before {
  content: "\ebf1";
}
.icon-skype:before {
  content: "\ebf2";
}
.icon-reddit:before {
  content: "\ebf3";
}
.icon-hackernews:before {
  content: "\ebf4";
}
.icon-wikipedia:before {
  content: "\ebf5";
}
.icon-linkedin:before {
  content: "\ebf6";
}
.icon-linkedin2:before {
  content: "\ebf7";
}
.icon-lastfm:before {
  content: "\ebf8";
}
.icon-lastfm2:before {
  content: "\ebf9";
}
.icon-delicious:before {
  content: "\ebfa";
}
.icon-stumbleupon:before {
  content: "\ebfb";
}
.icon-stumbleupon2:before {
  content: "\ebfc";
}
.icon-stackoverflow:before {
  content: "\ebfd";
}
.icon-pinterest:before {
  content: "\ebfe";
}
.icon-pinterest2:before {
  content: "\ebff";
}
.icon-xing:before {
  content: "\ec00";
}
.icon-xing2:before {
  content: "\ec01";
}
.icon-flattr:before {
  content: "\ec02";
}
.icon-foursquare:before {
  content: "\ec03";
}
.icon-yelp:before {
  content: "\ec04";
}
.icon-paypal:before {
  content: "\ec05";
}
.icon-chrome:before {
  content: "\ec06";
}
.icon-firefox:before {
  content: "\ec07";
}
.icon-IE:before {
  content: "\ec08";
}
.icon-edge:before {
  content: "\ec09";
}
.icon-safari:before {
  content: "\ec0a";
}
.icon-opera:before {
  content: "\ec0b";
}
.icon-file-pdf:before {
  content: "\ec0c";
}
.icon-file-openoffice:before {
  content: "\ec0d";
}
.icon-file-word:before {
  content: "\ec0e";
}
.icon-file-excel:before {
  content: "\ec0f";
}
.icon-libreoffice:before {
  content: "\ec10";
}
.icon-html-five:before {
  content: "\ec11";
}
.icon-html-five2:before {
  content: "\ec12";
}
.icon-css3:before {
  content: "\ec13";
}
.icon-git:before {
  content: "\ec14";
}
.icon-codepen:before {
  content: "\ec15";
}
.icon-svg:before {
  content: "\ec16";
}
.icon-IcoMoon:before {
  content: "\ec17";
}
