/*-------------SCROLL DE LA APP---------------*/

body::-webkit-scrollbar {
    background: $darkBlue;
    width: 10px; //
    border-left: .5px solid rgba($white,.1);
}

body::-webkit-scrollbar-thumb {
    background: rgba($white,.1);
    width: 10px; //
}

/*------FONDOS-------*/
.light-blue{
    background: $lightBlue;
}

.blue{
    background: $blue;
}

.dark{
    background: $dark;
}

.darkBlue{
    background: $darkBlue;
}

.blueLight {
    background: $blueLight;
}

.gray{
    background: $grayDark;
}

.dark-sl{
    background: $darksl
}

.btooltip{
    background: $tooltip;
}

.brightBlue {
    background: $blueBlond
}

/*-------------SOMBRAS-DARK---------------*/

.bs-dark{
   box-shadow: 0px 2px 5px rgba(#000,.8); 
}

.bs-m-dark{
   box-shadow: 0px 1px 1px 1px rgba(#000,.1); 
}

 /*----FORMULARIOS Y INPUTS DARK----*/

.form-group-tpl.form-group-dark {
    color: $place;
    
    label.label {
        &.active,&.placeholder {
            color: $white;
        }
    }
    
    input, textarea, .select {
        color: $place;
        border: 0px;
        border-bottom: 1px solid $place;
        &:focus,
        &:active {
            border-bottom: 1px solid $white;
            color: $white;
            outline: none;
        }
        &:disabled,&[readonly],&[disabled] {
            background-color: transparent;
            border-bottom-style: dashed;
            opacity: none;
        }
    }
    
    &.checkbox,
    &.radio {
        
        label {
            
            &:hover {
                background: rgba(#000,.2);
            }
            
            &::before {
                border: 2px solid $place; 
            }
        }
        
        &.error {
            label {
                color: $danger;
                
                &:hover {
                    background: rgba($danger,.2);
                }
                
                &::before {
                    border: 2px solid $danger;
                }
            }
        }
        
        input[type="radio"],
        input[type="checkbox"] {
            
            &:checked + label {
                background: $primary;
                color: $white;
            }
        }
    }
    
    &.error {
        &,input,.label {
            color: rgba($danger,.8) !important;
        }
        input {
            border-bottom: 1px solid rgba($danger,.8);
            &:active,
            &:focus {
                border-bottom: 1px solid $white;
            }
        }
    }
    
    // SELECTS DARK
    .select {
        
        &.active {
            color: $white;
            border-bottom: 1px solid $white;
        }
        
        .options {
            border: 1px solid rgba($white,.1);
            color: $gray;
            
            ol {
                background: rgba($dark,.95);
                
                li {
                    &:not(:last-child){
                        border-bottom: .5px solid rgba($white,.1);
                    }
                    &:hover {
                        background: rgba($black,.4);
                        color: $white;
                    }
                }   
            }
        }
        
        
        
    }
}

/*-------------CARDS---------------*/
.card-tpl.card-dark {
    background: $darkBlue;
    
    .card-body{
        
        .card-title {
            color: $white;
        }
        
        .card-description {
            color: $place;
        }
        
    }
    
}

/*-------------LIST-GROUPS---------------*/
.list-group-dark{
    
    .list-group-item {
        color: $white;
        background-color: $darkBlue;
        
        &.active,&:hover {
            background-color: #10396f;
        }
        &.active {
            border: 1px solid rgba(0,0,0,.125);
        }
    }
    
}

.list-group-darkBlue {
    
    .list-group-item {
        color: $white;
        background-color: transparent;
        border-top: 1px solid $blue;
    }
    
}

/*-------------SCROLLS PROPIOS---------------*/

// BLANCO
.scroll-white {
    @include scrollbar($white);
}

/*-------------HRS PROPIOS---------------*/

// HRS BLANCOS
hr.hrdark {
    border-bottom: 1px solid rgba(180, 180, 180, 0.1);
}

/*-------------MODALES---------------*/

// MODALES DARK
.modal-dark .modal-content{
    background: $blueBlond;
    color: $white;
    
    .modal-footer {
        border: 0;
    }
}

/*-------------TABLAS---------------*/

// TABLAS DARK
.table-dark {
    .header {
        background: $blueLight;
    }
    table tbody {
        color: $textTables;
    }
    
}