/*----FORMULARIOS Y INPUTS DARK----*/

.form-group-tpl.form-group-white{
    color: $place;
    
    label.label {
        &.focus{
            color: $info;
        }
    }
    
    input, textarea, .select {
        color: $place;
        border: 0px;
        border-bottom: 1px solid $place;
        &:focus,
        &:active{
            border-bottom: 1px solid $info;
            color: $black;
            outline: none;
        }
        &:disabled,&[readonly],&[disabled] {
            background-color: transparent;
            border-bottom-style: dashed;
            opacity: none;
        }
    }
    
    &.checkbox,
    &.radio {
        
        label {
            
            &:hover {
                background: rgba(#000,.2);
            }
            
            &::before {
                border: 2px solid $place; 
            }
        }
        
        &.error {
            label {
                color: $danger;
                
                &:hover {
                    background: rgba($danger,.2);
                }
                
                &::before {
                    border: 2px solid $danger;
                }
            }
        }
        
        input[type="radio"],
        input[type="checkbox"] {
            
            &:checked + label {
                background: $primary;
                color: $white;
            }
        }
    }
    
    &.error {
        &,input,.label {
            color: rgba($danger,.8) !important;
        }
        input {
            border-bottom: 1px solid rgba($danger,.8);
            &:active,
            &:focus {
                border-bottom: 1px solid $white;
            }
        }
    }
    
    // SELECTS DARK
    .select {
        
        &.active {
            color: $white;
            border-bottom: 1px solid $white;
        }
        
        .options {
            border: 1px solid rgba($white,.1);
            color: $gray;
            
            ol {
                background: rgba($dark,.95);
                
                li {
                    &:not(:last-child){
                        border-bottom: .5px solid rgba($white,.1);
                    }
                    &:hover {
                        background: rgba($black,.4);
                        color: $white;
                    }
                }   
            }
        }
        
        
        
    }
}
